<div class="questions_number_wrapper">
  <%= test_progress %>
</div>

<div class="questions_info_right_column_section">
  <p class="questions_info_right_column_number"><%= user_points %> <span>Points</span></p>
  <p>For every video watched or correct answer you will receive 5 points to your overall score.</p>
</div>

<div class="questions_info_right_column_section">  
  <%= get_swots(0) %>
</div>

<div class="questions_info_right_column_section"> 
  <%= get_swots(1) %>
</div>

