<div class="questions_number_wrapper">
  <%= test_progress %>
</div>

<div class="questions_info_right_column_section">
  <%= user_points %>
</div>

<div class="questions_info_right_column_section">  
  <%= get_number_correct %>
</div>

<div class="points_until_next_badge_section">
  <div class="points_until_next_badge_wrapper">
    <%= get_next_badge(@user_progress, @quiz.video.specialty) %>
  </div>
</div>
