<div class="questions_number_wrapper">
  <%= test_progress %>
</div>

<div class="questions_info_right_column_section">
  <%= user_points %>
</div>

<div class="questions_info_right_column_section">  
  <%= get_number_correct %>
</div>

<div class="questions_info_right_column_section"> 
  <%= get_next_badge %>
</div>


<div class="points_until_next_badge_section">
  <div class="points_until_next_badge_wrapper">
    <div class="questions_placement_bar">
      <div class="active_placement_bar twenty_percent"></div>
    </div>

    <div class="points_away_title">You are just 800 points away from becoming a:</div>

    <a href="#" class="badge">
      <p class="badge_title medical_director">Medical Director</p>
      <p class="badge_speciality small_screen_count">+ 1</p>
      <p class="badge_speciality">Cardiology</p>
    </a>
  </div>
</div>