<div class="questions_number_wrapper">
  <%= test_progress %>
</div>

<div class="questions_info_right_column_section">
  <%= user_points %>
</div>

<div class="questions_info_right_column_section">  
  <%= get_number_correct %>
</div>

<div class="questions_info_right_column_section"> 
  <%= get_next_badge %>
</div>
