<div class="default_lecture_question incorrect_lecture_answer">
  <p class="lecture_questions_list_left_column"><%= @quiz.current_answer(
            params[:answer_given].to_i) %></p>
  <p class="lecture_question_status_icon">Incorrect</p>
</div>

<div class="default_lecture_question correct_lecture_answer">
  <p class="lecture_questions_list_left_column"><%= @quiz.correct_answer %></p>
  <p class="lecture_question_status_icon">Correct</p>
</div>