
<div>
  <div style="float: left">
    <h1>Congratulations! You have completed all the questions.</h1>
  </div>

  <div>
    <p><%= link_to "Back to Dashboard", root_url, :class => "red_button medium next_question_button" %></p>
  </div>
</div>