<div class="row header">
  <h3>Comments</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class="table table-hover" border="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Created at</th>
            <th>User</th>
            <th>Comment</th>
            <th>Type</th>
            <th>Hidden</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @comments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
