
<div class="inner about_page_inner">
  <div class="sub_heading_wrapper">
    <h1>About Podmedics</h1>
  </div>

  <div class="page">
    <div class="about_left_column">
      <p>Podmedics was founded in 2007 based upon the idea that a 5 minute audio or video tutorial is easier to learn from than a lecture or long textbook chapter. Starting from humble recordings on a dictaphone, we now have over 150 professional-quality videos produced by doctors, medical students and other healthcare professionals.</p>
      <p>It has always been our vision that Podmedics be high quality and affordable to all. We feel that this has been achieved more than ever with the latest release with the introduction of our simple to use question and notes systems.</p>
      <p>We are always delighted to hear your feedback. If there is something you think we could be doing better just drop us an email at feedback@podmedics</p>

      <div class="about_column_divide"></div>

      <div class="founder_block">

        <div class="founder_icon"><img src="assets/ed_founder_icon.png" width="142" height="142" alt=""/></div>

        <h1>Dr Ed Wallitt</h1>
        <p class="founder_sub_title">Founder</p>
        <p>Ed Walitt is the founder and director of Podmedics. He qualified from Imperial College School of Medicine in 2008 and worked for four years as a junior doctor in West London - achieving a place on the prestigious St Mary's GP Vocational Training Scheme. He now runs the medical IT consultancy side of Podmedics - Kaizen Ursus - providing high quality software consultancy and development services to NHS Trusts and healthcare startups in the UK.</p>

        <div class="founder_social_icons">
          <a href="#" class="twitter_footer_icon"></a>
          <a href="#" class="fb_footer_icon"></a>
        </div>

      </div>
    </div>

    <div class="about_right_column">
      <p class="about_right_column_title">THE LECTURERS</p>
      <p>Dr Stevan Wing <span>- General Medicine</span></p>
      <p>Mr Michael Raffery <span>- General Surgery</span></p>
      <p>Mr Jonny Manley <span>- General Surgery</span></p>
      <p>Dr Rashmi Patel <span>- General Medicine and Epidemiology</span></p>
      <p>Dr Tamara Keith <span>- Paediatrics</span></p>
      <p>Mr Bernard Ho <span>- Dermatology</span></p>
      <p>Mr Shiv Chopra <span>- Paediatrics</span></p>
      <p>Dr Mazin Alsaffar <span>- Anatomy</span></p>
      <p>Dr Jean Lee <span>- General Medicine and Examinations</span></p>
      <p>Dr Jemma Theivendran <span>- Psychiatry</span></p>
      <p>Dr Kathryn Wallitt <span>- Radiology</span></p>
      <p>Dr James Burn <span>- Radiology</span></p>
      <p>Dr Cosmo Scurr <span>- Emergency Care</span></p>
      <p>Miss Kenga Sivarajah <span>- Obstetrics and Gynaecology</span></p>
      <p>Dr Tom Hamptom <span>- Neurology</span></p>
      <p>Dr Shireen Emadossadaty <span>- Anaesthetics</span></p>
      <p>Dr Junaid Fukuta <span>- General Medicine</span></p>
      <p>Dr Stevan Wing <span>- General Medicine</span></p>
      <p>Mr Michael Raffery <span>- General Surgery</span></p>
      <p>Mr Jonny Manley <span>- General Surgery</span></p>
      <p>Dr Rashmi Patel <span>- General Medicine and Epidemiology</span></p>
      <p>Dr Tamara Keith <span>- Paediatrics</span></p>
      <p>Mr Bernard Ho <span>- Dermatology</span></p>
      <p>Mr Shiv Chopra <span>- Paediatrics</span></p>
      <p>Dr Mazin Alsaffar <span>- Anatomy</span></p>
      <p>Dr Cosmo Scurr <span>- Emergency Care</span></p>
      <p>Miss Kenga Sivarajah <span>- Obstetrics and Gynaecology</span></p>
      <p>Dr Tom Hamptom <span>- Neurology</span></p>
      <p>Dr Shireen Emadossadaty <span>- Anaesthetics</span></p>
      <p>Dr Junaid Fukuta <span>- General Medicine</span></p>

    </div>

  </div>

</div>