<%= content_for(:title) { "Podmedics | About"} %>

<div class="inner about_page_inner">
  <div class="sub_heading_wrapper">
    <h1>About Podmedics</h1>
  </div>

  <div class="page">
    <div class="about_left_column">
      <p>Podmedics was founded in 2007 with the aim of making revision more productive, more effective and more enjoyable.  We all know how painful it can be to tackle a tough chapter in a hefty medical text, so we thought, “why not present core material via video and audio?” And that’s exactly what we did. </p>
      <p>We began producing our early tutorials using some fairly basic technology, and they proved so popular we were soon bombarded with requests for more. Today, Podmedics offers more than 200 professionally produced videos presented by doctors, medical students and a diverse range of experienced healthcare professionals.</p>
      <p>Our vision has always been to deliver high-quality productions that are affordable and accessible to all. So we’re continually expanding our library to cover a growing number of specialist topics. And we’re always working hard to develop new features, like intelligent tutorial prompts and our easy-to-use note-taking system. </p>
      <p>If there are any new features you’d like to see, or any topics you’d like us to cover, we’d love to hear from you. Email your suggestions to <a href="mailto:contact@podmedics.com">contact@podmedics.com</a></p>
      <div class="about_column_divide"></div>

      <div class="founder_block">

        <div class="founder_icon"><img src="<%=asset_path "ed_founder_icon.png"%>" width="142" height="142" alt=""/></div>

        <h1>Dr Ed Wallitt</h1>
        <p class="founder_sub_title">Founder</p>
        <p>Ed Walitt is the founder and director of Podmedics. He qualified from Imperial College School of Medicine in 2008 and worked for four years as a junior doctor in West London - achieving a place on the prestigious St Mary's GP Vocational Training Scheme. He now runs the medical IT consultancy side of Podmedics - Kaizen Ursus - providing high quality software consultancy and development services to NHS Trusts and healthcare start-ups in the UK.</p>

        <div class="founder_social_icons">
          <a href="#" class="twitter_footer_icon"></a>
          <a href="#" class="fb_footer_icon"></a>
        </div>

      </div>
    </div>

    <div class="about_right_column">
      <p class="about_right_column_title">THE LECTURERS</p>
      <p>Dr Stevan Wing <span>- General Medicine</span></p>
      <p>Mr Michael Raffery <span>- General Surgery</span></p>
      <p>Mr Jonny Manley <span>- General Surgery</span></p>
      <p>Dr Rashmi Patel <span>- General Medicine and Epidemiology</span></p>
      <p>Dr Tamara Keith <span>- Paediatrics</span></p>
      <p>Mr Bernard Ho <span>- Dermatology</span></p>
      <p>Ms Vicky Pyne <span>- Lecturer/Editor</span></p>
      <p>Mr Shiv Chopra <span>- Paediatrics</span></p>
      <p>Dr Mazin Alsaffar <span>- Anatomy</span></p>
      <p>Dr Jean Lee <span>- General Medicine and Examinations</span></p>
      <p>Dr Jemma Theivendran <span>- Psychiatry</span></p>
      <p>Dr Kathryn Wallitt <span>- Radiology</span></p>
      <p>Dr James Burn <span>- Radiology</span></p>
      <p>Dr Cosmo Scurr <span>- Emergency Care</span></p>
      <p>Miss Kenga Sivarajah <span>- Obstetrics and Gynaecology</span></p>
      <p>Dr Tom Hamptom <span>- Neurology</span></p>
      <p>Dr Shireen Emadossadaty <span>- Anaesthetics</span></p>
      <p>Dr Junaid Fukuta <span>- General Medicine</span></p>
    </div>

  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

