<div class="inner login_page_inner">

  <div class="sub_heading_wrapper">
    <h1>Contact Us</h1>
  </div>

  <div class="page">
    <div class="inner_page_padding">

      <div class="text_based_page">
        <p>If you have any questions or issues do not hesitate to get in touch. We would love to hear from you.</p>
        <p class="get_in_touch_title">Ways to get in touch</p>

        <p class="about_buttons">
          <a href="mailto:contact@podmedics.com" class="podmedcis_button green mail_button">Drop us an Email</a>
          <a href="http://twitter.com/podmedics" class="twitter_social_button" target="_blank">Find us on Twitter</a>
          <a href="http://en-gb.facebook.com/pages/Podmedics/143536736080" class="fb_social_button" target="_blank">Find us on Facebook</a></p>
      </div>
    </div>
  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper login_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

