<%= content_for(:title) { "Podmedics | FAQs"} %>

<div class="inner">
  <div class="sub_heading_wrapper">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="page">
    <div class="inner_page_padding">
      <div class="faq_wrapper">
        <%= render @faqs %>
      </div>
    </div>
  </div>
</div>
