<%= content_for(:title) { "Podmedics | FAQs"} %>

<div class="inner">
  <div class="sub_heading_wrapper">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="page">
    <div class="inner_page_padding">
      <div class="faq_wrapper">
        <% @faqs.each do |faq| %>
          <div class="faq_inner_wrapper">
            <h2><%= faq.title %></h2>
            <div class="faq_inner"><%= faq.content.html_safe %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
