
<div class="inner">

  <div class="sub_heading_wrapper">
    <h1>Podmedics FAQs</h1>
  </div>

  <div class="page">

    <div class="inner_page_padding">

      <p class="lecture_questions_sub_title">Just click on the blue links below to preview our podcasts</p>

      <a href="javascript:;" class="library_button" id="faq_link_one">
        <h2>Do you do a free trial?</h2>
      </a>

      <div class="library_tab" id="faq_tab_one">
        <p>There are over 150 medical video tutorials on Podmedics that cover topics throughout medicine, surgery and all the clinical specialties. We are also adding new ones all the time - at a rate of about one per week.</p>
      </div>





      <a href="javascript:;" class="library_button" id="faq_link_two">
        <h2>How much does a Podmedics subscription cost?</h2>
      </a>



      <div class="library_tab" id="faq_tab_two">
        <p>There are over 150 medical video tutorials on Podmedics that cover topics throughout medicine, surgery and all the clinical specialties. We are also adding new ones all the time - at a rate of about one per week.</p>
      </div>

      <a href="javascript:;" class="library_button" id="faq_link_three">
        <h2>What payment options do you offer for the subscription?</h2>
      </a>

      <div class="library_tab" id="faq_tab_three">
        <p>There are over 150 medical video tutorials on Podmedics that cover topics throughout medicine, surgery and all the clinical specialties. We are also adding new ones all the time - at a rate of about one per week.</p>
      </div>

      <a href="javascript:;" class="library_button" id="faq_link_four">
        <h2>What payment options do you offer for the subscription?</h2>
      </a>


      <div class="library_tab" id="faq_tab_four">
        <p>There are over 150 medical video tutorials on Podmedics that cover topics throughout medicine, surgery and all the clinical specialties. We are also adding new ones all the time - at a rate of about one per week.</p>
      </div>


    </div>


  </div>

</div>
