

<div class="inner">


<div class="sub_heading_wrapper">
  <h1>Library</h1>
</div>


<div class="page">

<div class="inner_page_padding">

<p class="lecture_questions_sub_title">Just click on the blue links below to preview our podcasts</p>


<a href="javascript:;" class="library_button" id="library_medicine_link">
  <h2>Medicine</h2>
  <p class="library_count">78 Lectures</p>
</a>


<div class="library_tab" id="medicine_tab">

  <div class="library_column">
    <p class="sub_title">CARDIOLOGY</p>
    <p>Tachycardia</p>
    <p>Bradycardia</p>
    <p>Heart Murmurs</p>
    <p>Atrial Fibrillation</p>
    <p>Arrhythmias Live</p>
    <p>Aortic Stenosis</p>
    <p>ECG Interpretation</p>
    <p>Hypertension</p>
    <p>Basic Arrhythmias</p>
    <p>Ischaemic Heart Disease</p>
    <p>Heart Sounds</p>
    <p>Basic Principles</p>
    <p>Acute Coronary Syndrome</p>
  </div>



  <div class="library_column">
    <p class="sub_title">CHEMICAL PATHOLOGY</p>
    <p>Calcium Handling</p>
    <p>Live Overview of fluids and electrolytes</p>
    <p>Hyperkalaemia</p>
    <p>LIVE - Fluids</p>
    <p>Hyponatraemia</p>
    <p>Hypocalcaemia</p>
    <p>Sodium Handling in Health and Disease</p>
  </div>

  <div class="library_column">
    <p class="sub_title">DERMATOLOGY</p>
    <p>Psoriasis</p>
    <p>Acne</p>
    <p>Basal and Squamous Cell Carcinoma</p>
    <p>Malignant Melanoma</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ELDERLY CARE</p>
    <p>Assessment of Falls</p>
    <p>Dementia I</p>
    <p>Urinary Incontinence</p>
    <p>Dementia II</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ENDOCRINOLOGY</p>
    <p>Pituitary and Adrenal Problems</p>
    <p>Diabetic Emergencies</p>
    <p>Endocrinology Live - pituitary, adrenal and diabetes</p>
  </div>

  <div class="library_column">
    <p class="sub_title">EXAMINATION</p>
    <p>Principles of Differential Diagnosis</p>
    <p>Cardiovascular Examination</p>
    <p>Productivity for FY1s</p>
    <p>Coping with Nights</p>
    <p>Eponymous Syndromes</p>
    <p>Introduction to Clinical Examination</p>
    <p>Common calls for FY1sClerking and Notes for FY1</p>
  </div>



</div>





<a href="javascript:;" class="library_button" id="library_surgery_link">
  <h2>Surgery</h2>
  <p class="library_count">35 Lectures</p>
</a>



<div class="library_tab" id="surgery_tab">

  <div class="library_column">
    <p class="sub_title">CARDIOLOGY</p>
    <p>Tachycardia</p>
    <p>Bradycardia</p>
    <p>Heart Murmurs</p>
    <p>Atrial Fibrillation</p>
    <p>Arrhythmias Live</p>
    <p>Aortic Stenosis</p>
    <p>ECG Interpretation</p>
    <p>Hypertension</p>
    <p>Basic Arrhythmias</p>
    <p>Ischaemic Heart Disease</p>
    <p>Heart Sounds</p>
    <p>Basic Principles</p>
    <p>Acute Coronary Syndrome</p>
  </div>



  <div class="library_column">
    <p class="sub_title">CHEMICAL PATHOLOGY</p>
    <p>Calcium Handling</p>
    <p>Live Overview of fluids and electrolytes</p>
    <p>Hyperkalaemia</p>
    <p>LIVE - Fluids</p>
    <p>Hyponatraemia</p>
    <p>Hypocalcaemia</p>
    <p>Sodium Handling in Health and Disease</p>
  </div>

  <div class="library_column">
    <p class="sub_title">DERMATOLOGY</p>
    <p>Psoriasis</p>
    <p>Acne</p>
    <p>Basal and Squamous Cell Carcinoma</p>
    <p>Malignant Melanoma</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ELDERLY CARE</p>
    <p>Assessment of Falls</p>
    <p>Dementia I</p>
    <p>Urinary Incontinence</p>
    <p>Dementia II</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ENDOCRINOLOGY</p>
    <p>Pituitary and Adrenal Problems</p>
    <p>Diabetic Emergencies</p>
    <p>Endocrinology Live - pituitary, adrenal and diabetes</p>
  </div>

  <div class="library_column">
    <p class="sub_title">EXAMINATION</p>
    <p>Principles of Differential Diagnosis</p>
    <p>Cardiovascular Examination</p>
    <p>Productivity for FY1s</p>
    <p>Coping with Nights</p>
    <p>Eponymous Syndromes</p>
    <p>Introduction to Clinical Examination</p>
    <p>Common calls for FY1sClerking and Notes for FY1</p>
  </div>



</div>

<a href="javascript:;" class="library_button" id="library_clinical_specialties_tab">
  <h2>Clinical Specialties</h2>
  <p class="library_count">48 Lectures</p>
</a>

<div class="library_tab" id="clinical_specialties_tab">

  <div class="library_column">
    <p class="sub_title">CARDIOLOGY</p>
    <p>Tachycardia</p>
    <p>Bradycardia</p>
    <p>Heart Murmurs</p>
    <p>Atrial Fibrillation</p>
    <p>Arrhythmias Live</p>
    <p>Aortic Stenosis</p>
    <p>ECG Interpretation</p>
    <p>Hypertension</p>
    <p>Basic Arrhythmias</p>
    <p>Ischaemic Heart Disease</p>
    <p>Heart Sounds</p>
    <p>Basic Principles</p>
    <p>Acute Coronary Syndrome</p>
  </div>



  <div class="library_column">
    <p class="sub_title">CHEMICAL PATHOLOGY</p>
    <p>Calcium Handling</p>
    <p>Live Overview of fluids and electrolytes</p>
    <p>Hyperkalaemia</p>
    <p>LIVE - Fluids</p>
    <p>Hyponatraemia</p>
    <p>Hypocalcaemia</p>
    <p>Sodium Handling in Health and Disease</p>
  </div>

  <div class="library_column">
    <p class="sub_title">DERMATOLOGY</p>
    <p>Psoriasis</p>
    <p>Acne</p>
    <p>Basal and Squamous Cell Carcinoma</p>
    <p>Malignant Melanoma</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ELDERLY CARE</p>
    <p>Assessment of Falls</p>
    <p>Dementia I</p>
    <p>Urinary Incontinence</p>
    <p>Dementia II</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ENDOCRINOLOGY</p>
    <p>Pituitary and Adrenal Problems</p>
    <p>Diabetic Emergencies</p>
    <p>Endocrinology Live - pituitary, adrenal and diabetes</p>
  </div>

  <div class="library_column">
    <p class="sub_title">EXAMINATION</p>
    <p>Principles of Differential Diagnosis</p>
    <p>Cardiovascular Examination</p>
    <p>Productivity for FY1s</p>
    <p>Coping with Nights</p>
    <p>Eponymous Syndromes</p>
    <p>Introduction to Clinical Examination</p>
    <p>Common calls for FY1sClerking and Notes for FY1</p>
  </div>



</div>

<a href="javascript:;" class="library_button" id="library_clinical_sciences_link">
  <h2>Clinical Sciences</h2>
  <p class="library_count">108 Lectures</p>
</a>


<div class="library_tab" id="clinical_sciences_tab">

  <div class="library_column">
    <p class="sub_title">CARDIOLOGY</p>
    <p>Tachycardia</p>
    <p>Bradycardia</p>
    <p>Heart Murmurs</p>
    <p>Atrial Fibrillation</p>
    <p>Arrhythmias Live</p>
    <p>Aortic Stenosis</p>
    <p>ECG Interpretation</p>
    <p>Hypertension</p>
    <p>Basic Arrhythmias</p>
    <p>Ischaemic Heart Disease</p>
    <p>Heart Sounds</p>
    <p>Basic Principles</p>
    <p>Acute Coronary Syndrome</p>
  </div>



  <div class="library_column">
    <p class="sub_title">CHEMICAL PATHOLOGY</p>
    <p>Calcium Handling</p>
    <p>Live Overview of fluids and electrolytes</p>
    <p>Hyperkalaemia</p>
    <p>LIVE - Fluids</p>
    <p>Hyponatraemia</p>
    <p>Hypocalcaemia</p>
    <p>Sodium Handling in Health and Disease</p>
  </div>

  <div class="library_column">
    <p class="sub_title">DERMATOLOGY</p>
    <p>Psoriasis</p>
    <p>Acne</p>
    <p>Basal and Squamous Cell Carcinoma</p>
    <p>Malignant Melanoma</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ELDERLY CARE</p>
    <p>Assessment of Falls</p>
    <p>Dementia I</p>
    <p>Urinary Incontinence</p>
    <p>Dementia II</p>
  </div>

  <div class="library_column">
    <p class="sub_title">ENDOCRINOLOGY</p>
    <p>Pituitary and Adrenal Problems</p>
    <p>Diabetic Emergencies</p>
    <p>Endocrinology Live - pituitary, adrenal and diabetes</p>
  </div>

  <div class="library_column">
    <p class="sub_title">EXAMINATION</p>
    <p>Principles of Differential Diagnosis</p>
    <p>Cardiovascular Examination</p>
    <p>Productivity for FY1s</p>
    <p>Coping with Nights</p>
    <p>Eponymous Syndromes</p>
    <p>Introduction to Clinical Examination</p>
    <p>Common calls for FY1sClerking and Notes for FY1</p>
  </div>



</div>


</div>


</div>

</div>