
<div class="plans_header">
  <h1>Plans</h1>
  <p>Choose the plan that suites you best.</p>
</div>


<div class="plans_columns_wrapper">

  <div class="plans_column">
    <h2>Free Trial</h2>

    <ul class="plans_column_features_list">
      <li>Full access to our video library</li>
      <li>over 40 Specialyts to choose from</li>
      <li>Indepth Stats to Track your progress</li>
    </ul>

    <a href="#" class="red_button">Choose Plan</a>

  </div>

  <div class="plans_column">
    <h2>Free Trial</h2>
    <p class="plans_column_price">£3 <span>/ mo</span></p>

    <ul class="plans_column_features_list">
      <li>Full access to our video library</li>
      <li>over 40 Specialyts to choose from</li>
      <li>HD Quality Videos</li>
      <li>Exam Testing</li>
      <li>Questions & Answers</li>
      <li>Public questions & Answers</li>
      <li>Indepth Stats to Track your progress</li>
    </ul>

    <a href="#" class="red_button">Choose Plan</a>

  </div>

</div>


<div class="plans_lower_info_blocks">

  <div class="plans_lower_info_block_wrapper">
    <p>drop us an email anytime at contact@podmedics.com and we would be delighted to give you any further information that you require.</p>
  </div>

  <div class="plans_lower_info_block_wrapper payment_system_block_icon">
    <p>drop us an email anytime at contact@podmedics.com and we would be delighted to give you any further information that you require.</p>
  </div>

</div>