
<div class="plans_header">
  <h1>Plans</h1>
  <p>Choose the plan that suites you best.</p>
</div>


<div class="plans_columns_wrapper">

  <div class="plans_column">
    <h2>Free Trial</h2>

    <ul class="plans_column_features_list">
      <li>Full access to our video library</li>
      <li>over 40 Specialyts to choose from</li>
      <li>Indepth Stats to Track your progress</li>
    </ul>

    <div class="plans_button_wrapper">
      <a href="#" class="red_button">Choose Plan</a>
    </div>

  </div>

  <div class="plans_column">
    <h2>Premium Membership</h2>
    <div class="plans_column_price">
      <p>£3<span>/ mo</span></p>
      <p class="plans_column_price_or_divide">OR</p>
      <p>£30<span>/ yr</span></p>
    </div>

    <ul class="plans_column_features_list">
      <li>Full access to our video library</li>
      <li>over 40 Specialyts to choose from</li>
      <li>HD Quality Videos</li>
      <li>Exam Testing</li>
      <li>Questions & Answers</li>
      <li>Public questions & Answers</li>
      <li>Indepth Stats to Track your progress</li>
    </ul>

    <div class="plans_button_wrapper">
      <div class="plans_button_dropdown_wrapper">
        <a href="javascript:;" class="red_button">Choose Plan</a>
        <div class="plans_button_dropdown">
          <button id="month_term_button">Pay Monthly £3<span>/mo</span></button>
          <button id="year_term_button">Pay Yearly £30<span>/Year</span></button>

        </div>
      </div>
    </div>

  </div>

</div>


<div class="plans_lower_info_blocks">

  <div class="plans_lower_info_block_wrapper">
    <div class="mail_icon_plans_lower_block"></div>
    <p>drop us an email anytime at <a href="mailto:contact@podmedics.com">contact@podmedics.com</a> and we would be delighted to give you any further information that you require.</p>
  </div>

  <div class="plans_lower_info_block_wrapper payment_system_block_icon">
    <div class="payment_system_icon_plans_lower_block"></div>
    <p>I get a window from a glass, he must get a window from a glass. I get a step, he must get a step. I get a clock radio, he cannot afford. Great success!</p>
  </div>

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>


<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: '<%=asset_path "touch-icon-iphone-retina.png"%>',
    token: function(token, args) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  document.getElementById('month_term_button').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Podmedics',
      description: 'Monthy Subscription to Podmedics',
      amount: 300
    });
    e.preventDefault();

  });

  document.getElementById('year_term_button').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Podmedics',
      description: 'Yearly Subscription to Podmedics',
      amount: 3000
    });
    e.preventDefault();

  });
</script>