<div class="inner about_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Press Kit</h1>
  </div>

  <div class="page">
    <div class="press_kit_header">
      <p>There are over 150 medical video tutorials on Podmedics that cover topics throughout medicine, surgery and all the clinical specialties.</p>
      <p>We are also adding new ones all the time - at a rate of about one per week. Do feel free to drop us an email anytime at contact@podmedics.com and we would be delighted to give you any further information that you require.</p>
      <p>Proin eros mi, commodo sit amet posuere sed, cursus ut enim. Fusce eu fringilla nunc. Mauris euismod diam eget massa mattis, at posuere odio cursus. Proin vestibulum arcu eu lorem sagittis mattis. Do dictum metus facilisis ac.</p>
    </div>

    <div class="press_kit_blocks">
      <h2>Press Kit Images</h2>
      <p>Click on the blocks below to download or you can download our entire press kit</p>

      <div class="press_kit_block_inner">
        <div class="press_kit_block_one">
          <a href="http://podmedics-assets.s3.amazonaws.com/press/podmedics-press-kit-web.zip" class="press_kit_block_image_one"></a>
          <p>Browser Windows</p>
        </div>

        <div class="press_kit_block_two">
          <a href="http://podmedics-assets.s3.amazonaws.com/press/podmedics-press-kit-devices.zip" class="press_kit_block_image_two"></a>
          <p>Device Mockups</p>
        </div>

        <div class="press_kit_block_three">
          <a href="http://podmedics-assets.s3.amazonaws.com/press/podmedics-press-kit-icons.zip" class="press_kit_block_image_three"></a>
          <p>Podmedics Icons</p>
        </div>

      </div>

    </div>

    <div class="press_kit_lower_blocks">
      <div class="press_kit_lower_block_inner">
        <h3>Company Colours</h3>
        <p>These are our primary comany colours</p>
        <div class="press_kit_lower_colour_blocks_inner">
          <div class="colour_block red_press_kit_block">#fa3f52</div>
          <div class="colour_block grey_press_kit_block">#F8F8F8</div>
          <div class="colour_block green_press_kit_block">#8CDE7F</div>
        </div>
      </div>


    </div>
    <div class="press_kit_lower_blocks">
      <div class="press_kit_lower_block_inner">
        <h3>Company Colours</h3>
        <p>Pellentesque quam enim, blandit molestie pretium malesuada, blandit nec urna. Donec consectetur velit in vehicula fermentum. Proin eros mi, commodo sit amet posuere sed, cursus ut enimcommodo sit amet posuere sed, cursus ut eni . Fusce eu fringilla nunc.</p>
        <a href="http://podmedics-assets.s3.amazonaws.com/press/podmedics-press-kit.zip" class="podmedcis_button">Download our full Press Kit  (6.9mb)</a>
      </div>
    </div>

  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

