<%= content_for(:title) { "Podmedics | Quiz App Privacy Policy"} %>

<div class="inner about_page_inner">
  <div class="sub_heading_wrapper">
    <h1>Quiz App Privacy Policy</h1>
  </div>

  <div class="page">
    <div class="inner_page_padding">
      <div class="faq_wrapper">
        <div class="faq_inner_wrapper">
          <div class="faq_inner">
            <p>
              This privacy policy governs your use of the software application PODMEDICS (“Application”) for mobile devices that was created by Podmedics. The Application is a tool for taking medical revision quizzes.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>What information does the Application obtain and how is it used?</h3>
          <div class="faq_inner">
            <p>
              The application is a paid-for service which does not require registration. No personal data are collected.
            </p>
          </div>

          <div class="faq_inner">
            <p>
              However current or future versions of this Application may offer an option to store specific drugs (e.g. a person’s own medications), in order to make repeated searching easier. You do not have to take up this option to enjoy full use of this Application. If you do however, you will be asked to create a user password to secure access. Please note that this user information is not passed on to us, but is retained on your mobile device.
            </p>
          </div>
          
          <div class="faq_inner">
            <p>
              The Application and its operating system may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device and your mobile operating system.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>Does the Application collect precise real time location information of the device?</h4>
          <div class="faq_inner">
          <p>
            This Application does not collect precise information about the location of your mobile device.
          </p>
        </div>
      </div>

        <div class="faq_inner_wrapper">
          <h4>Do third parties see and/or have access to information obtained by the Application?</h4>
          <div class="faq_inner">
            <p>
              The application does not collect any personal information
            </p>
        </div>
      </div>

        <div class="faq_inner_wrapper">
          <h4>What are my opt-out rights?</h4>
          <div class="faq_inner">
            <p>
              You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>Data Retention Policy, Managing Your Information</h4>
          <div class="faq_inner">
            <p>
              We do not store any usage or personal information.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>Security</h4>
          <div class="faq_inner">
            <p>
              We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect any information (eg aggregated, anonymised installation and usage data) we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavour provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>Changes</h4>
          <div class="faq_inner">
            <p>
              This Privacy Policy may be updated from time to time for any reason. If is a significant change to the way we store data in the future, we may require explicit acceptance of the revised data policy. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>Your Consent</h4>
          <div class="faq_inner">
            <p>
              By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. ‘Processing’ means analysis of aggregated data as provided by your operating system.  If you reside outside the United Kingdom your information will be transferred, processed and stored there under United Kingdom privacy standards.
            </p>
          </div>
        </div>

        <div class="faq_inner_wrapper">
          <h4>Contact us</h4>
          <div class="faq_inner">
            <p>
              If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at
              <a href="mailto:contact@podmedics.com">contact@podmedics.com</a>.
            </p>
        </div>
      </div>
  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

