<style type="text/css" media="screen">
  ul.showAnswer li.correct {
    background-color: green;
  }
  ul.showAnswer li.incorrect {
    background-color: red;
  }
</style>

<div class="inner">
  <div class="sub_heading_wrapper">
    <h1>Trial Questions</h1>
    <p>Feel free to try out some of the questions from our great bank.</p>
  </div>

  <div class="page">

    <div ng-app='TrialQuestionsApp'>
      <div ng-controller='TrialQuestionsController as vm'>
        <div class="question" ng-show="vm.firstQuestionAvailable">
          <div ng-bind-html="vm.currentQuestion.stem"></div>

          <ul ng-class="{ 'showAnswer' : vm.showAnswer }">
            <li ng-repeat="answer in vm.currentQuestion.answers" ng-class="{ 'correct' : vm.isCorrect(answer), 'incorrect' : answer.selectedAndIncorrect }">
              <a ng-click="vm.selectedAnswer(answer)">{{answer.text}}</a>
            </li>
          </ul>

          <div class="answer" ng-show="vm.showAnswer">
            <div ng-bind-html="vm.currentQuestion.explanation"></div>
            <a ng-click="vm.nextQuestion()">Next Question</a>
          </div>
        </div>

        <div class="end_questions" ng-show="vm.questionsEnded">
          <p>You have finished all the trial questions.</p>
          <p><%= link_to "Sign Up to access more", signup_path %></p>
          <p><a ng-click="vm.startAgain()">Start again</a></p>
        </div>
      </div><!-- end ng-controller -->
    </div><!-- end ng-app -->
  </div>
</div>