<style type="text/css" media="screen">
  ul.showAnswer li.correct {
    background-color: green;
  }
</style>

<div class="inner">
  <div class="sub_heading_wrapper">
    <h1>Trial Questions</h1>
    <p>Feel free to try out some of the questions from our great bank.</p>
  </div>

  <div class="page">

    <div ng-app='TrialQuestionsApp'>
      <div ng-controller='DashboardController as vm'>
        <div class="question" ng-show="vm.firstQuestionAvailable">
          <div ng-bind-html="vm.currentQuestion.stem"></div>

          <ul ng-class="{ 'showAnswer' : vm.showAnswer }">
            <li ng-repeat="answer in vm.currentQuestion.answers" ng-class="{ 'correct' : vm.isCorrect(answer) }">
              <a ng-click="vm.selectedAnswer(answer)">{{answer.text}}</a>
            </li>
          </ul>

          <div class="answer" ng-show="vm.showAnswer">
            <div ng-bind-html="vm.currentQuestion.explanation"></div>
            <a ng-click="vm.nextQuestion()">Next Question</a>
          </div>
        </div>

        <div class="end_questions" ng-show="vm.questionsEnded">
          <p>You have finished all the trial questions.</p>
          <p><%= link_to "Sign Up to access more", signup_path %></p>
          <p><a ng-click="vm.startAgain()">Start again</a></p>
        </div>
      </div><!-- end ng-controller -->
    </div><!-- end ng-app -->
  </div>
</div>



<script type="text/javascript">
  (function(){
    angular.module('TrialQuestionsApp', ['ngSanitize']);

    // questions factory
    angular.module('TrialQuestionsApp').factory('DataService', DataService);

      function DataService($q, $http){

        function getQuestions() {
          var deferred = $q.defer();

          $http({method: 'GET', url: 'api/v1/questions/sample'})
            .success(function(data){
              deferred.resolve(data);
            })
            .error(function(data, status, headers, config){
              console.log(status);
            });

          return deferred.promise;
        }

        return {
          getQuestions: getQuestions
        }
    }

    angular.module('TrialQuestionsApp').controller('DashboardController', DashboardController);

      // logic for questions
      function DashboardController($scope, DataService){
        var vm = this;

        vm.firstQuestionAvailable = false;
        vm.showAnswer = false;
        vm.questionsEnded = false;

        vm.quiz = {
          currentIndex: 0,
          questionNumber: 10,
          availableQuestions: []
        }

        DataService.getQuestions().then(function(data){
          // get the questions for the sample quiz
          vm.quiz.availableQuestions = data;

          // show the first question
          vm.currentQuestion = prepareQuestion(vm.quiz.availableQuestions[vm.quiz.currentIndex]);
          vm.firstQuestionAvailable = true;
        })

        vm.selectedAnswer = function(answer){
          var result = answer.index == vm.currentQuestion.correct_answer;
          vm.showAnswer = true;
        }

        vm.nextQuestion = function() {
          if (vm.quiz.currentIndex == (vm.quiz.questionNumber - 1)) {
            // hide the questions and show the questions ended copy
            vm.firstQuestionAvailable = false;
            vm.questionsEnded = true;
          } else {
            // reset the currentQuestion to the next one in the availableQuestions
            vm.quiz.currentIndex = vm.quiz.currentIndex + 1;
            vm.currentQuestion = prepareQuestion(vm.quiz.availableQuestions[vm.quiz.currentIndex]);

            vm.showAnswer = false;
          }
        }

        vm.isCorrect = function(answer) {
          if (answer.index == vm.currentQuestion.correct_answer) {
            return true;
          } else {
            return false;
          }
        }

        vm.startAgain = function(){
          vm.quiz.currentIndex = 0;
          vm.currentQuestion = prepareQuestion(vm.quiz.availableQuestions[vm.quiz.currentIndex]);


          vm.showAnswer = false;
          vm.questionsEnded = false
          vm.firstQuestionAvailable = true;
        }

        // format the question into a format that we can use
        function prepareQuestion(questionToReturn) {
          if (questionToReturn) {
            questionToReturn.answers = [];
            questionToReturn.answers.push({text: questionToReturn.answer_1, index: 1});
            questionToReturn.answers.push({text: questionToReturn.answer_2, index: 2});
            if (questionToReturn.answer_3 !== null && questionToReturn.answer_3.length > 0 ) {
              questionToReturn.answers.push({text: questionToReturn.answer_3, index: 3});
            }
            if (questionToReturn.answer_4 !== null && questionToReturn.answer_4.length > 0) {
              questionToReturn.answers.push({text: questionToReturn.answer_4, index: 4});
            }
            if (questionToReturn.answer_5 !== null && questionToReturn.answer_5.length > 0) {
              questionToReturn.answers.push({text: questionToReturn.answer_5, index: 5});
            }
          }

          // set the correct stem
          questionToReturn.correctStem = questionToReturn.answers[(questionToReturn.correct_answer - 1)].text;

          return questionToReturn;
        }

    }
  })();

</script>