<div class="note_right_column_full_note" id="full_note_one">
  <p class="note_title"><%= link_to full_note.get_title, full_note.video %></p>
  <p><%= sanitize(full_note.content) %>
  </p>
  <a href="javascript:;" class="red_button notes_back_button_clear" id="back_to_notes_button">Back</a>
</div>