<div class="note_right_column_preview" id="<%= note.id %>">
  <p class="note_preview_title"><%= link_to note.cached_title, note.cached_noteable %></p>
  <p><%= truncate(sanitize(note.content), :length => 100, :separator => ' ') %></p>
  <%= link_to "Read", load_note_path(note.id), remote: true %>
</div>