<div class="note_right_column_preview" id="<%= sidebar_note.id %>">
  <p class="note_preview_title"><%= link_to sidebar_note.cached_title, sidebar_note.cached_noteable %></p>
  <p><%= truncate_html(sidebar_note.content, :length => 100, :omission => '...') %></p>
  <%= link_to "Read", load_note_path(sidebar_note.id), remote: true %>
</div>
