<h1><%= "#{current_user}'s Revision Notes"%></h1>
Downloaded from Podmedics at www.podmedics.com
<div class="break"></div>

<div class="notes">
  <h1><%= @notes.cached_title %></h1>
  <%= sanitize(@notes.content) %>
</div>