# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore application configuration
/config/application.yml

# Ignore vim swap files
*.swp
*.swo

# Ignore database.yml
/config/database.yml

# RubyMine
*.idea

# ENV file
.env

# simplecov
/coverage
