<td style="padding-top:20px; padding-bottom:50px;">

  <h1>Hi <%= @user %></h1>

  <p class="inner_sub_title">One of your answers has been accepted.</p>

  <p>Your answer to</p>
  <p class="lead">
    <strong><%= @question.content %></strong>
  </p>
  <p>has been accepted.</p>

  <p class="action_button_wrapper">
    <%= link_to 'view your answer here', specialty_question_url( specialty_id: @question.specialty.id,
                                              id: @question.id,
                                              anchor: @answer.id), class: 'red_button' %>
  </p>

</td>