<td style="padding-top:20px; padding-bottom:50px;">

  <div class="new_badge_icon"></div>

  <h1>Hi <%= @user %></h1>

  <p class="inner_sub_title">You have just been awarded a new badge.</p>

  <p>You are now officially a Podmedics <strong><%= @badge.level %></strong> in <strong><%= @badge.specialty.name %></strong></p>

  <p>Congratulations and keep up the good work.</p>

  <p>The Team at Podmedics</p>

</td>