<h1>
  Hi <%= @user.name %>,
</h1>

<p class="lead">You have just been awarded a new badge.</p>

<p>You are now officially a Podmedics <%= @badge.level %> in <%= @badge.specialty.name %>.</p>

<p>Congratulations and keep up the good work.</p>

<p>The Team at Podmedics</p>