<td style="padding-top:20px; padding-bottom:50px;">

  <div class="new_badge_icon"></div>

  <h1>Hi <%= @user %></h1>

  <p class="new_badge_sub_title">Thank you</p>

  <p>We have received your flashcard and will review it within the next 24 hours.</p>

  <p>We shall let you know as soon as we have reviewed it.</p>

  <p>All the best,</p>

  <p>The Team at Podmedics</p>

</td>
