<td style="padding-top:20px; padding-bottom:50px;">

  <div class="new_badge_icon"></div>

  <h1>Hi <%= @user %></h1>

  <p class="new_badge_sub_title">Your flashcard was approved!</p>

  <p>Congratulations. Your flashcard has been reviewed and accepted. Your Podmedics account will be credited with an extra 2 free months of membership.</p>

  <p>To view your new flashcard 'in the wild' please check it out <%= link_to 'here', video_path(@flashcard.video) %></p>

  <p>All the best,</p>

  <p>The Team at Podmedics</p>

</td>