<td style="padding-top:20px; padding-bottom:50px;">

  <div class="new_badge_icon"></div>

  <h1>Hi <%= @user %></h1>

  <p class="new_badge_sub_title">Thank you</p>

  <p>We have received your flashcard and will review it within the next 24 hours.</p>

  <p>If accepted we shall notify you, and credit your Podmedics account with 2 free months of membership!</p>

  <p>All the best,</p>

  <p>The Team at Podmedics</p>

</td>