<td style="padding-top:20px; padding-bottom:50px;">

  <h1>Hi <%= @user %>,</h1>

  <p class="inner_sub_title">We just published a new video - <strong><%= @video.title %></strong> </p>

  <p><%= @video.description %></p>

  <p class="action_button_wrapper">
    <%= link_to 'Watch it Now', video_url(@video), class: 'red_button' %>
  </p>

</td>
