<td style="padding-top:20px; padding-bottom:50px;">

  <h1>Hi <%= @user.name %>,</h1>

  <p class="inner_sub_title">There is a new <%= @video.specialty.name %> video.</p>

  <p>You can view <%= "'#{@video.title}'" %></p>

  <p class="action_button_wrapper">
    <%= link_to 'Watch Now', video_url(@video), class: 'red_button' %>
  </p>

</td>