<td style="padding-top:20px; padding-bottom:50px;">
  <h1>Dear <%= @user.name %></h1>

  <p>
  It's been about a week since you signed up to Podmedics.
  </p>

  <p>
  We hope you are enjoying the site and finding it a useful addition to your medical learning.
  </p>

  <p>
  Here are a few tips of new things you can do:
  </p>

  <p>
  <strong>
    1. Do questions and earn badges (medical student to consultant)
  </strong>
  </p>
  <p>
  <strong>
    2. Earn points by completing videos (and answering questions)
  </strong>
  </p>
  <p>
  <strong>
    3. Explore our dedicated flashcards for each specialty.
  </strong>
  </p>
  <p>
  <strong>
    4. Signup for a Podmedics subscription to get access to all specialties and downloads. It's cheap, only £20 for 6 months (£30 for a year)
  </strong>
  </p>

  <p>
  Do drop me an email if you need help with anything, and keep learning!
  </p>

  <p>All the best,</p>

  <p>
  Ed<br />
  Podmedics - Director
  </p>
</td>
