<h1>Hi <%= @user.name %>,</h1>

<p>We just wanted to notify you that you are no longer the Professor of <%= @specialty.name %>. Another user has now attained this status.</p>

<p>We would encourage you to continue your exceptional work and get your badge back.</p>

<p>The Team at Podmedics</p>