<td style="padding-top:20px; padding-bottom:50px;">

  <h1>Hi <%= @user %>,</h1>

  <p>Thank you very much subscribing to Podmedics.</p>

  <p>I hope that you enjoy your experience on the site. Be sure to checkout all our videos and questions, and do feel free to contribute to the specialty question boards.</p>

  <p>You earn points and badges for everything that you do, and this is a great way to track your progress, and even motivate yourself.</p>

  <p>If you need any help with anything please do feel free to drop me an email at any time.</p>

  <p>All the best,</p>

  <p>
    Ed<br />
    Podmedics - Director
  </p>

</td>
