<td style="padding-top:20px; padding-bottom:50px;">

  <h1>Hi <%= @user %>,</h1>

  <p>Thanks for registering for an account on Podmedics.com.</p>

  <p>I hope you enjoy exploring the videos, questions and other resources we have available.</p>

  <p>If you have any questions please do drop me an email.</p>

  <p>All the best,</p>

  <p>
    Ed<br />
    Podmedics - Director
  </p>

</td>
