<div class="notification_wrapper">
  <div class="notification error" style="hidden: true">
    <p>Error <span>There has been a problem</span></p>
    <p class="close_notification"></p>
  </div>
</div>
<!-- End notifications error -->