<div class="notification_wrapper">
  <div class="notification success" style="hidden: true">
    <p>Success <span>A successful message</span></p>
    <p class="close_notification"></p>
  </div>
</div>
<!-- End notifications success -->