<div class="row header">
  <h3>FAQs</h3>
  <div class="col-med-10 pull-right">
    <%= link_to "+ New FAQ", new_admin_faq_path, class: 'btn-flat success pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class="table table-hover" border="0">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Title</th>
            <th>Member only</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @faqs %>
        </tbody>
      </table>
    </div>
  </div>
</div>
