<div class="author">
  <td><%= author.id %></td>
  <td><%= author.name %></td>
  <td>
    <ul class="actions">
      <li><%= link_to "Edit", edit_admin_author_path(author) %></li>
    </ul>
  </td>
</div>
