<div class="inner signup_page_inner">

  <div class="page edit_profile">
    <div class="user_unsubscribed_message">
      Thanks. You have been successfully unsubscribed.
    </div>
  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
