<div class="inner signup_page_inner">

  <div class="page edit_profile">
    Unsubscribed!
  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper signup_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>
