

<div class="specialty_quiz_title_link">
  <%= link_to specialty_exam_url(@specialty.id), class: "quiz_tab tip", id: 'quiz_link_header', :data => { :tip => 'Answer 30 random questions for this specialty'} do  %>
    <p>Take a <%= @specialty.name %> Quiz</p>
    <p class="icon"></p>
  <% end %>
</div>