<ul>
  <li>
    <%= link_to specialty_path(@specialty), class: 'lectures_tab tabulous_active'  do %>
      <p>Lectures</p>
      <p class="icon"></p>
    <% end %>
  </li>
  <li>
    <%= link_to specialty_exam_url(@specialty.id), class: "quiz_tab", id: 'quiz_link_header' do  %>
      <p>Take a <%= @specialty.name %> Quiz</p>
      <p class="icon"></p>
    <% end %>
  </li>
</ul>
