@import "bootstrap";
@import "bootstrap-overrides";
@import "jquery-ui-1.10.2.custom";
@import "font-awesome";
@import "layout";
@import "elements";
@import "icons";
@import "tables";
@import "form-showcase";
@import "index";
@import "redactor";

tr.red {
  background-color: rgb(167, 191, 218);
}

.filter-block {
  margin-bottom: 20px;
}

//PACE loading bar
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}