
<div class="dashboard_count_blocks">
  <div class="dashboard_count_block overall_count_red">
    <p class="number"><%= current_user.points %></p>
    <p>Points Earned so far</p>
  </div>

  <div class="dashboard_count_block watched_videos">
    <%= lectures_watched %>
    <p>Lectures Watched</p>
  </div>

  <div class="dashboard_count_block">
    <p class="number"><%= current_user.user_questions.count %></p>
    <p>Questions Answered</p>
  </div>

  <div class="dashboard_count_block badges_count">
    <p class="number"> <%= current_user.badges.count %> </p>
    <p>Badges Earned</p>
  </div>
</div>
