<% videos.each do |video| %>
  <div class="lecture_list_item">
    <div class="lecture_list_left_column">
      <%= link_to video.title, video, class: 'video_link' %>
      <p class="lecture_specialties_link">
        <%= link_to video.specialty_name, specialty_path(video.specialty) %>
        <span class="video_duration"><%= video.duration_as_string %></span>
      </p>
    </div>
    <div class="lecture_icons_wrapper">
      <%= show_lecture_icons(video) %>
    </div>
  </div>
<% end %>
