<% videos.each do |video| %>
  <div class="lecture_list_item">
    <div class="lecture_list_left_column">
      <%= link_to video.title, video_path(video) %>
      <p class="lecture_date_author"><%= video.duration %> minutes with <%= video.speaker_name %></p>
      <p><%= link_to video.specialty_name, specialty_path(video.specialty) %></p>
    </div>
    <div class="lecture_icons_wrapper">
      <div class="lecture_status_inline_title">Watched</div>

      <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
      <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
      <a href="#" class="lecture_icon top_marks"><p class="tooltip"><span>Good Job</span>You anserwed all 10 questions correctly and earned the maximum 800 points avaliable.</p></a>
    </div>
  </div>
<% end %>
