<div class="inner">

<div class="page">

<div id="tabs">
<ul>
  <li><a href="#tabs-1" title="" class="lectures_tab"><p>Lectures</p><p class="icon"></p></a></li>
  <li><a href="#tabs-2" title="" class="recommended_lectures_tab"><p>Recommended Lectures</p><p class="icon"></p></a></li>
  <li><a href="#tabs-3" title="" class="stats_tab"><p>Stats</p><p class="icon"></p></a></li>
</ul>

<div id="tabs_container">

<div id="tabs-1" class="tab_box">
<div class="inner_page_padding">

<div class="tab_title">New Lectures</div>


<div class="lecture_list">

<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Ischaemic Heart Disease</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Watched</div>

    <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
    <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
    <a href="#" class="lecture_icon top_marks"><p class="tooltip"><span>Good Job</span>You anserwed all 10 questions correctly and earned the maximum 800 points avaliable.</p></a>
  </div>
</div>


<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Basic Principles</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>
  </div>


  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Watched</div>

    <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
    <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
    <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
  </div>
</div>


<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Ischaemic Heart Disease</a>
    <p class="lecture_date_author">17 minutes with Ed Wallitt and Rashmi Patels</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Watched</div>

    <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
    <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
  </div>
</div>



<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Acute Coronary Syndrome</a>
    <p class="lecture_date_author">27 minutes with Stevan Wing</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Watched</div>

    <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
    <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
  </div>
</div>



<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Basic Principles</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Part Watched</div>

    <a href="#" class="lecture_icon part_watched"></a>
  </div>
</div>





<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Hypertension</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Part Watched</div>

    <a href="#" class="lecture_icon part_watched"></a>

  </div>
</div>


<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Basic Principles</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Part Watched</div>

    <a href="#" class="lecture_icon part_watched"></a>

  </div>
</div>



<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Basic Principles</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Not Watched</div>

    <a href="#" class="lecture_icon not_watched"></a>

  </div>
</div>



<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Acute Coronary Syndrome</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Not Watched</div>

    <a href="#" class="lecture_icon not_watched"></a>
  </div>
</div>



<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Acute Coronary Syndrome</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Not Watched</div>

    <a href="#" class="lecture_icon not_watched"></a>
  </div>
</div>



<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">Acute Coronary Syndrome</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>
  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Not Watched</div>

    <a href="#" class="lecture_icon not_watched"></a>
  </div>
</div>




<!----  Lecture list item  ---->

<div class="lecture_list_item">
  <div class="lecture_list_left_column">
    <a href="#">All icons for reference</a>
    <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

  </div>

  <div class="lecture_icons_wrapper">
    <div class="lecture_status_inline_title">Watched</div>

    <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
    <a href="#" class="lecture_icon part_watched"></a>
    <a href="#" class="lecture_icon not_watched"></a>
    <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
    <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
    <a href="#" class="lecture_icon top_marks"><p class="tooltip"><span>Good Job</span>You anserwed all 10 questions correctly and earned the maximum 800 points avaliable.</p></a>

  </div>
</div>

<!----  Lecture list item  ---->









</div>


</div>


</div>



<div id="tabs-2" class="tab_box">
  <div class="inner_page_padding">

    <p class="recommended_tab_sub_title">The below lectures are recommended to you because you have either not watched it, it's part watched or you did not reach a pass grade of atleast 78%</p>


    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Basic Principles</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>
      </div>


      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Watched</div>

        <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
        <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
        <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
      </div>
    </div>







    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Basic Principles</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>
      </div>


      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Watched</div>

        <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
        <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
        <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
      </div>
    </div>



    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Basic Principles</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>
      </div>


      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Watched</div>

        <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
        <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
        <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
      </div>
    </div>



    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Basic Principles</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>
      </div>


      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Watched</div>

        <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
        <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
        <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
      </div>
    </div>








    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Basic Principles</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

      </div>
      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Not Watched</div>

        <a href="#" class="lecture_icon not_watched"></a>

      </div>
    </div>










    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Acute Coronary Syndrome</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

      </div>
      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Not Watched</div>

        <a href="#" class="lecture_icon not_watched"></a>
      </div>
    </div>





    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Acute Coronary Syndrome</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

      </div>
      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Not Watched</div>

        <a href="#" class="lecture_icon not_watched"></a>
      </div>
    </div>





    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">Acute Coronary Syndrome</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

      </div>
      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Not Watched</div>

        <a href="#" class="lecture_icon not_watched"></a>
      </div>
    </div>





    <div class="lecture_list_item">
      <div class="lecture_list_left_column">
        <a href="#">All icons for reference</a>
        <p class="lecture_date_author">24 minutes with Ed Wallitt</p>

      </div>
      <div class="lecture_icons_wrapper">
        <div class="lecture_status_inline_title">Watched</div>

        <a href="#" class="lecture_icon watched"><p class="tooltip">You watched this 20 minutes ago and answered 10 of 10 questions correct</p></a>
        <a href="#" class="lecture_icon part_watched"></a>
        <a href="#" class="lecture_icon not_watched"></a>
        <a href="#" class="lecture_icon recommended_resit"><p class="tooltip">You answered 3 of 10 questions correct you may benefit from retaking this lecture</p></a>
        <a href="#" class="lecture_icon resit"><p class="tooltip">Retake this lecture</p></a>
        <a href="#" class="lecture_icon top_marks"><p class="tooltip"><span>Good Job</span>You anserwed all 10 questions correctly and earned the maximum 800 points avaliable.</p></a>


      </div>
    </div>


  </div>







</div>





<div id="tabs-3" class="tab_box">
<div class="stats_chart_wrapper">
  <div class="stats_chart">Chart</div>

</div>


<div class="dashboard_count_blocks">

  <div class="dashboard_count_block overall_count_red">
    <p class="number">83,451</p>
    <p>Points Earned so far</p>

  </div>


  <div class="dashboard_count_block pass_count_green">
    <p class="number">8</p>
    <p>Exams Passed</p>

  </div>


  <div class="dashboard_count_block">
    <p class="number">22</p>
    <p>Lectures Watched</p>

  </div>

  <div class="dashboard_count_block">
    <p class="number">178</p>
    <p>Questions Answered</p>

  </div>


  <div class="dashboard_count_block">
    <p class="number">18</p>
    <p>Notes Saved</p>

  </div>

  <div class="dashboard_count_block">
    <p class="number">22</p>
    <p>Badges Earned</p>

  </div>

</div>


<div class="dashboard_badges_overview_wrapper">

  <div class="dashboard_badges_left_column">
    <div class="dashboard_badges_overview_inner_border">

      <div class="title">Recent Badges</div>

      <div class="dashboard_badges_badge_wrapper">
        <p class="badge_earned_date"><strong>8 Minutes ago</strong> you was awarded</p>
        <a href="#" class="badge">
          <p class="badge_title registrar">Registrar</p>
          <p class="badge_speciality">Cardiology</p>
        </a>
      </div>


      <div class="dashboard_badges_badge_wrapper">
        <p class="badge_earned_date"><strong>8 Minutes ago</strong> you was awarded</p>

        <a href="#" class="badge">
          <p class="badge_title consultant">Consultant</p>
          <p class="badge_speciality">Surgery</p>
        </a>
      </div>


      <div class="dashboard_badges_badge_wrapper">
        <p class="badge_earned_date"><strong>8 Minutes ago</strong> you was awarded</p>
        <a href="#" class="badge">
          <p class="badge_title medical_director">Medical Director</p>
          <p class="badge_speciality">Cardiology</p>
        </a>
      </div>

    </div>


  </div>

  <div class="dashboard_badges_right_column">
    <div class="title">Your Badges</div>
  </div>


</div>


<div class="dashboard_pie_charts">
  <div class="dashboard_charts_set_wrapper">

    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest speciality</div>

      <ul data-pie-id="chart_one" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_one" class="pie_chart_outer"></div>

    </div>



    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest speciality</div>

      <ul data-pie-id="chart_two" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_two" class="pie_chart_outer"></div>

    </div>



    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest speciality</div>

      <ul data-pie-id="chart_three" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_three" class="pie_chart_outer"></div>

    </div>
  </div>

  <div class="tab_divider"></div>


  <div class="dashboard_charts_set_wrapper">

    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest speciality</div>

      <ul data-pie-id="chart_four" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_four" class="pie_chart_outer"></div>

    </div>



    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest speciality</div>

      <ul data-pie-id="chart_five" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_five" class="pie_chart_outer"></div>

    </div>


    <div class="dashboard_pie_chart_wrapper">

      <div class="pie_chart_inner_title">Your strongest speciality</div>

      <ul data-pie-id="chart_six" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
      </ul>

      <div id="chart_six" class="pie_chart_outer"></div>

    </div>


  </div>


</div>











</div>

</div>

</div>

<div class="clear"></div>

</div>






</div>