<div class="page-header">
  <h1>Categories</h1>
</div>

<%= link_to "New category", new_admin_category_path, class: 'btn btn-success' %>

<div class="categories">
   <table>
     <thead>
       <tr>
         <th>#ID</th>
         <th>Name</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <%= render @categories %>
     </tbody>
     
   </table>
</div>
