<div class="row header">
  <h3>Categories</h3>

  <div class="col-md-10 col-sm-10 col-xs-10 pull-right">
    <%= link_to "New Category", new_admin_category_path, class: 'btn-flat success pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="categories table-wrapper">
       <table class="table table-hover">
         <thead>
           <tr>
             <th>#ID</th>
             <th>Name</th>
             <th>Specialties</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <%= render @categories %>
         </tbody>
       </table>
    </div>
  </div>
</div>


