<%= content_for(:title) { "Podmedics | Courses"} %>

<div class="inner about_page_inner">

  <div class="sub_heading_wrapper">
    <h1>Podmedics Courses</h1>
  </div>

  <div class="page">
    <% if @courses.count > 0 %>
      <%= render @courses %>
    <% else %>
      <div class="courses_block_outer">
        <div class="courses_left_column"></div>
        <div class="courses_right_column no_courses_found">
          <p>We have no courses scheduled at the moment.</p>
          <p>Please check back later!</p>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>


