<div class="inner about_page_inner">

  <div class="sub_heading_wrapper">
    <h1>Our Courses</h1>
  </div>

  <div class="page">
    <%= render @courses %>
  </div>

</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>


