<div class="inner about_page_inner">

  <div class="sub_heading_wrapper">
    <h1>Our Courses</h1>
  </div>

  <div class="page">
    <div class="courses_block_outer">
      <div class="courses_left_column"></div>

      <div class="courses_right_column">

         <div class="course_title">The HouseOfficer Course ONLINE - June 2014</div>

         <div class="course_date">28 JUN 09:00 / £30.00</div>

         <div class="course_action_button">
           <a href="#" class="red_button">Find out more and book</a>
         </div>
         <div class="course_info">
           <p>We are really pleased to announce the availability of the <strong>ONLINE</strong> <strong>Podmedics HouseOfficer Course - <br></strong>this is a unique opportunity to take advantage of all the usual course benefits from your own computer.</p>
           <p>The main focus of this one day&nbsp;course will be to teach you all the practical things that medical school and finals did not cover about being a junior doctor on the wards.</p>
           <p>At Podmedics we take pride in being great at explaining stuff in a simple and memorable way. Starting work as an F1 is really stressful (have you seen Junior Doctors!?). We want to ease that pain.</p>
           <p>We shall be covering:</p>
           <ul>
             <li>Surviving your first week</li>
             <li>Core organisational skills (e.g. writing in notes, patient lists)</li>
             <li>Common ward calls (what you actually do)</li>
             <li>Prescribing (including the common drugs and dosages you need to know)</li>
             <li>Using technology to help (will also include copies and a practical demo of our new iPhone apps for F1 - Houseofficer and Induction)</li>
             <li>Hospital communication skills (getting scans, making referrals etc)</li>
           </ul>
           <div>&nbsp;Registration is limited to 200 places so do consider signing up.</div>
           <div>&nbsp;</div>
           <div>If you have any questions please do drop me an email - ed@podmedics.com</div>
           <div><br>Please note that all ticket sales are final and we are unable to offer refunds. Tickets may however be transferred.<br></div>
         </div>
       </div>
    </div>





    <div class="courses_block_outer">
      <div class="courses_left_column"></div>

      <div class="courses_right_column">

        <div class="course_title">The HouseOfficer Course ONLINE - June 2014</div>

        <div class="course_date">28 JUN 09:00 / £30.00</div>

        <div class="course_action_button">
          <a href="#" class="red_button">Find out more and book</a>
        </div>
        <div class="course_info">
          <p>We are really pleased to announce the availability of the <strong>ONLINE</strong> <strong>Podmedics HouseOfficer Course - <br></strong>this is a unique opportunity to take advantage of all the usual course benefits from your own computer.</p>
          <p>The main focus of this one day&nbsp;course will be to teach you all the practical things that medical school and finals did not cover about being a junior doctor on the wards.</p>
          <p>At Podmedics we take pride in being great at explaining stuff in a simple and memorable way. Starting work as an F1 is really stressful (have you seen Junior Doctors!?). We want to ease that pain.</p>
          <p>We shall be covering:</p>
          <ul>
            <li>Surviving your first week</li>
            <li>Core organisational skills (e.g. writing in notes, patient lists)</li>
            <li>Common ward calls (what you actually do)</li>
            <li>Prescribing (including the common drugs and dosages you need to know)</li>
            <li>Using technology to help (will also include copies and a practical demo of our new iPhone apps for F1 - Houseofficer and Induction)</li>
            <li>Hospital communication skills (getting scans, making referrals etc)</li>
          </ul>
          <div>&nbsp;Registration is limited to 200 places so do consider signing up.</div>
          <div>&nbsp;</div>
          <div>If you have any questions please do drop me an email - ed@podmedics.com</div>
          <div><br>Please note that all ticket sales are final and we are unable to offer refunds. Tickets may however be transferred.<br></div>
        </div>
      </div>
    </div>


  </div>

</div>





<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>


