<%= link_to post_path(post), class: 'blog_home_post_wrapper' do %>
  <div class="blog_post_image_wrapper">
    <%= image_tag post.title_image.url(:medium)  %>
  </div>
  <h2><%= post.title %></h2>
  <p><span class="blog_post_date_icon"></span>Posted <%= post.created_at.to_s(:short) %></p>
<% end %>

