


<div class="inner blog_page_inner">

  <div class="page">

    <div class="blog_page_left_column"></div>
    <div class="blog_page_right_column"></div>

    </div>

</div>



<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

