<div class="inner blog_page_inner">

  <div class="page">

    <div class="blog_page_left_column">
      <div class="blog_home_title">
        <h1>Podmedics News</h1>
      </div>
      <%= render @posts %>
      <div class="blog_home_load_more_wrapper">
      </div>
    </div>

    <div class="blog_page_right_column">
      <div class="blog_home_right_column_info">
        <p>Welcome to our blog! </p>
        <p>Our goal here is to keep you up-to-date with all the developments on our the site, as well as offer occasional interesting articles.</p>
      </div>
    </div>

  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper blog_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

