$podmedics_red: #fa3f52;

$podmedics_grey: #F4F4F4;

$grey_border: #E5E5E5;

$standard_border_radius: 6px;



/* Reset */
html, body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }


/* General */
::selection {
  background: #000;
  color: #FFF; }

::-moz-selection {
  background-color: #000;
  color: #FFF; }

::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0; }

a, a:visited {
  color: #2e2e2e;
  outline: none;
  text-decoration: none; }

a:hover {
  color: #666;
  outline: none;
  text-decoration: none; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  border: 0;
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  color: #2D2D2D;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  word-wrap: break-word;
  overflow-x: hidden;
  background-image: none;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  left: 0; }



/* Header */
.header_outer {
  background-color: $podmedics_red;
  float: left;
  height: 69px;
  width: 100%;
  background-image: image-url('header_repeat.png');
}

.header_outer a.podmedics_header_icon {
  background-image: image-url('podmedics_header_icon.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  float: left;
  height: 69px;
  width: 78px;
  background-color: #FF5364;
  -webkit-transition: background-color .2s ease-in; }

.header_outer .header_navigation {
  float: right;
  height: 69px;
  width: auto;

  a {
    background-color: #C02A3A;
    float: left;
    height: 39px;
    padding-right: 30px;
    padding-left: 30px;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30px; }


}

.header_outer .header_navigation a.login_link {
  background-color: transparent; }

.header_outer .header_navigation a.signup_link {
  background-color: #FC5664; }

.header_outer .header_navigation a.menu_link {
  background-image: image-url('nav_icons.png');
  background-repeat: no-repeat;
  padding-right: 68px;
  background-position: 93px 28px; }

.header_outer a.podmedics_header_icon:hover {
  background-color: #ED333E; }

.header_outer .header_navigation .signup_link:hover {
  background-color: #F13948; }

.header_outer .header_navigation .menu_link:hover {
  background-color: rgba(131, 28, 42, 0.75); }

.header_outer .header_navigation .login_link:hover {
  color: rgba(255, 255, 255, 0.8); }






/* Inner & Page */
.inner {
  clear: both;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page {
  background-color: #FFF;
  float: left;
  width: 100%;
  height: auto;
  border-radius: $standard_border_radius;
  -moz-box-shadow: 0 0 6px 0 rgba(189, 189, 189, 0.8);
  -webkit-box-shadow: 0 0 6px 0 rgba(189, 189, 189, 0.8);
  box-shadow: 0 0 6px 0 rgba(189, 189, 189, 0.8);
  clear: both;
  padding: 0;
}

.inner_page_padding {
  display: block;
  padding: 0 35px;
}
.inner.signup_page_inner, .inner.about_page_inner {
  width: 1000px; }





/* Footer */
.footer .footer_left {
  float: left;
  width: auto;
  margin-top: 30px;
  font-size: 12px; }

.footer .footer_right {
  float: right;
  width: auto;
  margin-top: 30px; }

.footer {
  clear: both;
  height: 120px;
  width: 94%;
  margin-right: auto;
  margin-left: auto; }

.footer .footer_left p {
  margin-bottom: 10px;
  color: #8E8E8E; }

.footer .footer_left p a {
  margin-right: 35px;
  float: left;
  font-size: 12px;
  margin-top: 15px;
  color: #969696; }

.footer .footer_left p .copyright {
  padding-right: 35px;
  font-size: 12px;
  color: #BFBFBF;
  float: left;
  clear: both; }

.footer_right a.twitter_footer_icon, .founder_social_icons  a.twitter_footer_icon {
  background-image: image-url('footer_social_icons.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 30px;
  width: 30px;
  float: left; }

.footer_right a.fb_footer_icon, .founder_social_icons  a.fb_footer_icon {
  background-image: image-url('footer_social_icons.png');
  background-repeat: no-repeat;
  background-position: -38px 0;
  height: 30px;
  width: 30px;
  float: left;
  margin-left: 10px; }

.footer_right a.twitter_footer_icon:hover, .footer_right a.fb_footer_icon:hover, .founder_social_icons a.twitter_footer_icon:hover, .founder_social_icons a.fb_footer_icon:hover {
  opacity: 0.5; }

.footer .footer_left p .podmedics_link {
  margin-top: 15px;
  float: left;
  color: #D1D1D1; }

.footer .footer_left .copyright {
  color: #a7a7a7; }

.footer_left p a:hover {
  color: #696969; }

.footer .footer_left p a.podmedics_link:hover {
  color: #929292; }


/* Inline Footer*/


.inline_footer_wrapper {
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.inline_footer_wrapper .inner {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.inline_footer_wrapper.about_page_footer, .inline_footer_wrapper.signup_page_footer {
  width: 1060px;
}

.inline_footer_wrapper.login_page_footer {
  width: 730px;
}


/* Headings */

.sub_heading_wrapper {
  float: left;
  width: 100%;
  padding-bottom: 20px;

p {
  font-size: 14px;
  color: #939393;
  padding-top: 10px;
  float: left;
  clear: both;

}}

h1 {
  font-size: 28px;
  color: #4d4d4d;
  font-weight: 700;
  float: left; }

h2 {
  font-size: 22px;
  color: #4d4d4d;
  font-weight: 700; }

h3 {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 700; }

h4 {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 700; }



/* Tabs */

#tabs, #tabs2, #tabs3, #tabs4, #tabs5, #tabs_single_page {
  width: 100%;
  clear: both;
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0; }

#tabs li, #tabs2 li, #tabs3 li, #tabs4 li, #tabs5 li, #tabs_single_page li {
  float: left;
  margin-right: 0;
  list-style: none; }

#tabs li a, #tabs_single_page li a {
  display: block;
  text-decoration: none;
  color: #797979;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.4;
  float: left;
  margin-right: 35px;  box-sizing: content-box;

  padding: 10px 0 20px; }

#tabs li a:hover, #tabs2 li a:hover, #tabs3 li a:hover, #tabs4 li a:hover, #tabs5 li a:hover, #tabs_single_page li a:hover  {
  color: #4F4F4F; }

#tabs_container {
  overflow: visible;
  background: #FFF;
  clear: both;
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: content-box;
  padding: 0 0 20px; }

.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s; }

.make_transist {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.hidescale {
  display: none;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0; }

.showscale {
  display: block;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s; }





#tabs li a.tabulous_active, #tabs_single_page li a.tabulous_active {
  background: #FFF;
  color: #555;
  opacity: 1.0; }

.tabulousclear {
  display: block;
  clear: both; }

#tabs ul, #tabs_single_page ul {
  clear: both;
  float: left;
  width: 80%; }

.clear {
  clear: both;
  float: left; }

#tabs ul li a p, #tabs_single_page ul li a p {
  float: left;
  padding: 5px 0 0; }

#tabs ul li .icon, #tabs_single_page ul li .icon {
  height: 22px;
  width: 28px;
  float: left;
  margin-left: 9px;
  background-image: image-url('tab_icons.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 2px;
  padding: 0; }

#tabs ul li .recommended_lectures_tab .icon,  #tabs_single_page  ul li .recommended_lectures_tab .icon {
  background-position: 0 -26px; }

#tabs ul li .stats_tab .icon, #tabs_single_page ul li .stats_tab .icon {
  background-position: 0 -53px; }

#tabs ul li .lectures_tab .icon, #tabs_single_page ul li .lectures_tab .icon  {
  background-position: 0 0; }

#tabs ul li .questions_answers_tab .icon, #tabs_single_page ul li .questions_answers_tab .icon {
  background-position: 0 -79px; }


#tabs ul li .comments_tab .icon, #tabs_single_page ul li .comments_tab .icon {
  background-position: 0 -109px;
}

.tab_divider {
  background-color: #E8E8E8;
  clear: both;
  float: left;
  height: 1px;
  width: 100%; }

#tabs ul, #tabs_single_page ul  {
  margin-left: 40px; }


/* Buttons */
a.red_button, button.red_button {
  font-size: 14px;
  color: #FFF;
  background-color: $podmedics_red;
  float: left;
  display: block;
  border: none;
  outline: none;
  border-radius: $standard_border_radius;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 23px 28px 20px; }

a.red_button:hover, button.red_button:hover {
  background-color: #9B2530; }

a.grey_button, button.grey_button {
  font-size: 14px;
  background-color: #F0F0F0;
  color: #7C7C7C;
  float: left;
  display: block;
  border: none;
  outline: none;
  border-radius: $standard_border_radius;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 23px 28px 20px; }

a.grey_button:hover, button.grey_button:hover {
  background-color: #E1E1E1; }

a.red_button.medium, button.red_button.medium {
  font-size: 14px;
  color: #FFF;
  padding: 14px 19px 12px; }

a.podmedcis_button, button.podmedcis_button {
  font-size: 14px;
  color: #FFF;
  background-color: $podmedics_red;
  float: left;
  display: block;
  border: none;
  outline: none;
  border-radius: $standard_border_radius;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 18px 20px 16px; }

a.podmedcis_button:hover, button.podmedcis_button:hover {
  background-color: #9B2530; }

a.podmedcis_button.medium, button.podmedcis_button.medium {
  font-size: 14px;
  color: #FFF;
  padding: 14px 19px 12px; }

a.podmedcis_button.grey {
  background-color: #F0F0F0;
  color: #7C7C7C; }

button.podmedcis_button.green, a.podmedcis_button.green {
  background-color: #8BDD7F;
  color: #FFF; }

button.podmedcis_button.green:hover, a.podmedcis_button.green:hover {
  background-color: #459639;
}

a.podmedcis_button.white_button {
  background-color: #FFF;
  color: #6D6D6D;
}

a.podmedcis_button.white_button:hover {
  background-color: #FFF;
  color: #4E4E4E;
  opacity:0.8;
}



/* Animations */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.hinge {
  -webkit-animation-duration: 0s;
  -moz-animation-duration: 0s;
  -o-animation-duration: 0s;
  animation-duration: 0s; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-o-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-o-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -o-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px); } }

@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-20px); } }

@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    -o-transform: translateY(-20px); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0); }

  100% {
    opacity: 0;
    transform: translateY(-20px); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px); } }

@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(20px); } }

@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    -o-transform: translateY(20px); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0); }

  100% {
    opacity: 0;
    transform: translateY(20px); } }

.fadeOutDown {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px); } }

@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }

  100% {
    opacity: 0;
    -moz-transform: translateX(-20px); } }

@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(0); }

  100% {
    opacity: 0;
    -o-transform: translateX(-20px); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0); }

  100% {
    opacity: 0;
    transform: translateX(-20px); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px); } }

@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }

  100% {
    opacity: 0;
    -moz-transform: translateX(20px); } }

@-o-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -o-transform: translateX(0); }

  100% {
    opacity: 0;
    -o-transform: translateX(20px); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0); }

  100% {
    opacity: 0;
    transform: translateX(20px); } }

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); } }

@-moz-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px); } }

@-o-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    -o-transform: translateY(-2000px); } }

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0); }

  100% {
    opacity: 0;
    transform: translateY(-2000px); } }

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  -moz-animation-name: fadeOutUpBig;
  -o-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig; }

@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px); } }

@-moz-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(2000px); } }

@-o-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    -o-transform: translateY(2000px); } }

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0); }

  100% {
    opacity: 0;
    transform: translateY(2000px); } }

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  -moz-animation-name: fadeOutDownBig;
  -o-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig; }

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); } }

@-moz-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }

  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px); } }

@-o-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -o-transform: translateX(0); }

  100% {
    opacity: 0;
    -o-transform: translateX(-2000px); } }

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0); }

  100% {
    opacity: 0;
    transform: translateX(-2000px); } }

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  -moz-animation-name: fadeOutLeftBig;
  -o-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px); } }

@-moz-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }

  100% {
    opacity: 0;
    -moz-transform: translateX(2000px); } }

@-o-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -o-transform: translateX(0); }

  100% {
    opacity: 0;
    -o-transform: translateX(2000px); } }

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0); }

  100% {
    opacity: 0;
    transform: translateX(2000px); } }

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  -moz-animation-name: fadeOutRightBig;
  -o-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }



/* Badges */

.badge {
  display: block;
  float: left;
  margin-right: 20px;
  clear: both;
  margin-bottom: 20px; }

.badge .badge_title {
  display: block;
  float: left;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
  color: #FFF;
  background-color: #2C2C2C;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 8px;
  -moz-border-radius-topleft: 5px 5px;
  border-top-left-radius: 5px 5px;
  -moz-border-radius-bottomleft: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  line-height: 10px; }

.badge .badge_speciality {
  color: #ADADAD;
  background-color: $podmedics_grey;
  display: block;
  float: left;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 800;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D3D3D3;
  line-height: 11px; }

.badge .badge_speciality:last-child {
  -moz-border-radius-topright: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-border-radius-bottomright: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-right: none; }

.badge .badge_title.houseofficer {
  background-color: #737373; }

.badge .badge_title.senior_houseofficer {
  background-color: #00E070; }

.badge .badge_title.medical_student {
  background-color: #B4F4FF;
  color: #7dbed3; }

.badge .badge_title.registrar {
  background-color: #FF5A21; }

.badge .badge_title.consultant {
  background-color: #D4D4D4; }

.badge .badge_title.medical_director {
  background-color: #FFBC1A; }

.badges_temp_wrapper {
  float: left;
  height: 500px;
  width: 100%;
  padding-top: 40px; }


/* Profile */

.inner.profile_page_inner {
  width: 690px;
  padding-top: 70px;
}

.profile_background_divide {
  background-color: rgba(168, 168, 168, 0.05);
  padding: 0px;
  float: left;
  height: 380px;
  width: 100%;
  margin-top: 69px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  z-index: 1;
  top: 0px; }

.profile_avatar img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: #fff;
  border: 8px solid #FFF;
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2); }

.profile_header {
  float: left;
  width: 100%;
  height: 334px;
  border-bottom: solid 1px #E8E8E8;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, rgba(239, 239, 239, 0.43) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(239, 239, 239, 0.43)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, rgba(239, 239, 239, 0.43) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, rgba(239, 239, 239, 0.43) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, rgba(239, 239, 239, 0.43) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, rgba(239, 239, 239, 0.43) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
  /* IE6-9 */
  -moz-border-radius-topright: 6px 6px;
  border-top-right-radius: 6px 6px;
  -moz-border-radius-topleft: 6px 6px;
  border-top-left-radius: 6px 6px; }

.profile_body {
  float: left;
  width: 100%; }

.profile_avatar {
  width: 128px;
  height: 148px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px; }

.profile_header h1 {
  text-align: center;
  width: 100%; }

.profile_header p {
  text-align: center;
  clear: both;
  width: 100%;
  font-size: 12px;
  line-height: 36px;
  color: #868686;
  text-transform: uppercase; }

.profile_inner {
  float: left;
  width: 100%;
  border-bottom: solid 1px #E8E8E8;
  padding-top: 35px;
  padding-bottom: 35px; }

.profile_inner.profile_counts {
  padding-top: 0px;
  padding-bottom: 0px; }

.profile_count_wrapper {
  width: 420px;
  float: left;
  margin-left: 140px;
  border-left: solid 1px #E8E8E8;
  padding-left: 20px; }

.profile_count {
  float: left;
  margin-right: 20px;
  border-right: solid 1px #E8E8E8;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px; }

.profile_count p {
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 5px;
  color: #A5A5A5; }

.profile_count p.number {
  font-weight: 800;
  font-size: 18px;
  color: #5C5C5C; }

.profile_inner .sub_title {
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  clear: both;
  text-transform: uppercase;
  color: #4D4D4D; }

.profile_inner.social_links_profile {
  padding-bottom: 13px; }

.profile_inner a {
  margin-bottom: 20px; }

.profile_inner a.twitter_social_button {
  margin-right: 20px; }
.profile_badge_column {
  float: left;
  width: 100%;
}

.profile_inner .badge {
  margin-bottom: 0px;
  margin-top: 30px;
  clear: none;
}

.profile_inner.profile_badges .inner_page_padding {
  padding-right: 0px; }








