$podmedics_red: #fa3f52;

$podmedics_grey: #F4F4F4;

$grey_border: #E5E5E5;

$standard_border_radius: 6px;


/* Retina */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

  .header_outer a.podmedics_header_icon {
    background-image: image-url('podmedics_header_icon@2x.png');
    background-size: 65%;
  }
  .header_outer .header_navigation a.menu_link {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
    background-position: 90px 28px;
  }
  .footer_right a.twitter_footer_icon, .founder_social_icons a.twitter_footer_icon {
    background-image: image-url('footer_social_icons@2x.png');
    background-size: 68px;
  }
  .footer_right a.fb_footer_icon, .founder_social_icons a.fb_footer_icon {
    background-image: image-url('footer_social_icons@2x.png');
    background-size: 68px;
  }
  .home_navigation a.nav-signup {
    background-position: 81px -19px;
  }
  #tabs ul li .icon, #tabs_single_page ul li .icon {
    background-size: 26px 130px;
    background-image: image-url('tab_icons@2x.png');
  }
  a.podmedcis_button.lectures_dropdown_button {
     background-image: image-url('nav_icons@2x.png');
    background-repeat: no-repeat;
    background-position: 121px -559px;
    background-size: 28px 800px;
    margin-top: 0px;
  }
  div.incorrect_question_icon {
    background-image: image-url('questions_results_icon@2x.png');
    background-size: cover;
  }
  div.incorrect_question_icon {
    background-image: image-url('questions_results_icon@2x.png');
    background-size: cover;
  }
  div.correct_question_icon {
    background-image: image-url('questions_results_icon@2x.png');
    background-size: cover;
  }
  .inner_menu_wrapper .nav-home {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .inner_menu_wrapper .nav-lectures {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .inner_menu_wrapper .nav-courses {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .inner_menu_wrapper .nav-profile {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .inner_menu_wrapper .nav-support {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .inner_menu_wrapper .nav-logout {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .inner_menu_wrapper .nav-about {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }

  .inner_menu_wrapper .nav-faqs {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }

  .inner_menu_wrapper .nav-login {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }

  .inner_menu_wrapper .nav-signup {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .right_column_search_field button.navigation_search_field_search_button {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  a.lectures_inline_dropdown_category_link {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .lectures_inline_dropdown_back_button {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .lecture_list_item .lecture_icons_wrapper .lecture_icon {
    background-image: image-url('lecture_icons@2x.png');
    background-size: 35px 215px;
    border-radius: 4px;
  }
  .home_page_header a.podmedics_home_icon {
    background-image: image-url('podmedics_home_icon@2x.png');
    background-size: 100%;
  }
  .home_navigation a.nav-login {
    background-image: image-url('home_header_button_icons@2x.png');
    background-position: 79px 10px;
    background-size: 14px 48px;
  }
  .no_questions_reply_wrapper {
    background-image: image-url('no_answers_icon@2x.png');
    background-size: 38px 34px;
  }
  a.twitter_social_button {
    background-image: image-url('social_button_icons@2x.png');
    background-size: 30px 86px;
  }

  a.fb_social_button {
    background-image: image-url('social_button_icons@2x.png');
    background-size: 30px 86px;
  }
  a.podmedcis_button.white_download_button {
    background-image: image-url('dowload_dropdown_icons@2x.png');
    background-size: 22px 166px;
    background-position: 145px 19px;
  }

  a.video_download_dropdown_link.video_file_icon {
    background-image: image-url('dowload_dropdown_icons@2x.png');
    background-size: 22px 166px;
    background-position: 144px -27px;
  }
  a.video_download_dropdown_link.audio_file_icon {
    background-image: image-url('dowload_dropdown_icons@2x.png');
    background-size: 22px 166px;
    background-position: 144px -76px;
  }
  a.video_download_dropdown_link.slides_file_icon {
    background-image: image-url('dowload_dropdown_icons@2x.png');
    background-size: 22px 166px;
    background-position: 144px -123px;
  }
  a.delete_comment_button {
    background-image: image-url('comment_action_icons@2x.png');
    background-size: 17px 75px;
  }
  .comment_reply_link a {
    background-image: image-url('comment_action_icons@2x.png');
    background-size: 17px 75px;
  }
  span.upvote_arrow .vote {
    background-image: image-url('up_vote_icon@2x.png');
    background-size: 11px 6px;
  }
  .notes_saved_button {
    background-image: image-url('notes_right_arrow_button@2x.png');
    background-size: 50px 262px;
  }
  .mail_icon_plans_lower_block {
    background-image: image-url('plans_page_blocks_icons@2x.png');
    background-size: 58px 45px;
  }

  .payment_system_icon_plans_lower_block {
    background-image: image-url('plans_page_blocks_icons@2x.png');
    background-size: 58px 45px;
  }
  .icheckbox_minimal-red, .iradio_minimal-red {
    background-image: image-url('checkboxs@2x.png');
    background-size: 200px 20px;
  }
  .main_nav_wrapper.speciality a {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  .main_nav_inner_lectures_back_link, .speciality_nav_back_button {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
  }
  a.tag {
    background-image: image-url('tags_dot@2x.png');
    background-size: 16px 66px;
  }
  .lecture_question_status_icon {
    background-image: image-url('lecture_questions_status_icon@2x.png');
    background-size: 30px 61px;
  }
  .welcome_pickup_icon {
    background-image: image-url('welcome_pickup_icon@2x.png');
    background-size: 236px 96px;
  }

  p.about_buttons .podmedcis_button.green.mail_button {
    background-image: image-url('contact_mail_icon@2x.png');
    background-size: 28px 18px;
  }
  a.website_profile_button {
    background-image: image-url('website_icon@2x.png');
    background-size: 27px 25px;
  }
  .unlock_specialty_wrapper a.podmedcis_button.green {
    background-image: image-url('unlock_icon@2x.png');
    background-size: 33px 34px;
  }
  .return_to_video_page_button_wrapper a.red_button.return_to_video_page_button {
    background-image: image-url('return_to_video_page_icon@2x.png');
    background-size: 50px 31px;

  }
}


/* Responsive */

@media screen and (max-width: 1344px) {

  .video_header_inner div.video_column {
    width: 100%;
    height: auto;
    float: left;
  }
  .video_header_inner div.video_page_notes_column {
    width: 100%;
    height: 550px;
    float: left;
    background-color: #F8F8F8;
  }

  .video_header_inner div.video_page_notes_column {
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }

  .video_header_inner {
    height: auto;
  }

  .video_header_outer {
    height: auto;
  }

  .video_page_notes_column_title {
    width: 93%;
  }

  .video_page_notes_column form {
    width: 93%;
  }

  .notes_column_text_field {
    padding-left: 2%;
    width: 93%;
  }

  .notes_column_text_area {
    width: 93%;
    padding-left: 2%;
  }

  #notes_saved_message {
    margin-top: -136px;
    right: 55px;
  }

}

@media screen and (max-width: 1195px) {

  .dashboard_pie_chart_wrapper {
    float: left;
    width: 370px;
  }

}

@media screen and (max-width: 1110px) {

  .points_until_next_badge_wrapper .badge .badge_speciality:last-child{
    display: none;
  }

  .points_until_next_badge_wrapper .badge .badge_title{
    -moz-border-radius-topright: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-bottomright: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }

}

@media screen and (max-width: 1020px) {
  .unlock_specialty_wrapper a.podmedcis_button.green {
    background-image: none;
    text-align: center;
  }
  .questions_info_right_column_section.speciality_inline_count_blocks {
    border-bottom: none;
  }
  .press_kit_lower_colour_blocks_inner {
    width: 100%;
  }
  .colour_block.grey_press_kit_block {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .colour_block.green_press_kit_block {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 35px;
  }
  .press_kit_block_one {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  a.press_kit_block_image_one {
    width: 100%;
    background-size: 100%;
  }
  a.press_kit_block_image_one {
    width: 100%;
    background-size: 100%;
    float: left;
    min-height: 230px;
    max-height: 250px;
    height: auto;
  }
  .press_kit_block_two {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  .press_kit_block_three {
    float: left;
    width: 48%;
    margin-left: 2%;
  }

  a.press_kit_block_image_two {
    width: 100%;
    height: 140px;
    float: left;
    background-size: 100%;
  }

  a.press_kit_block_image_three {
    width: 100%;
    height: 140px;
    float: left;
    background-size: 100%;
  }
  .press_kit_lower_block_inner {
    float: left;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
    width: 84%;
  }

  .press_kit_lower_blocks {
    height: auto;
  }
  .page.edit_profile .right_column_forms {
    display: inline;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    border-top: solid 1px $grey_border;
  }

  .profile_notifications_block {
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    border-bottom: none;
    border-top: solid 1px #e5e5e5;
  }

  .profile_notifications_block a.podmedcis_button.grey {
    clear: both;
  }

  .right_column_forms.receipt_user_settings_block a.podmedcis_button.grey {
    margin-bottom: 25px;
  }

  .page.edit_profile .right_column_forms .icheckbox_minimal-red, .iradio_minimal-red {
    clear: both;
    float: left;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .video_page_heading_button_set {
    float: left;
    width: auto;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .video_page_heading_wrapper {
    width: 100%;
  }

  .questions_answers_main_question .comment_info {
    float: left;
    clear: both;
    min-width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }

  .questions_answers_main_question .main_question_header h2 {
    font-size: 24px;
    line-height: 36px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .right_column_forms {
    display: none;
  }

  .inner.signup_page_inner {
    width: 690px;
  }

  .inner.signup_page_inner .left_column_forms {
    float: left;
    height: auto;
    width: 100%;
  }

  .inner.signup_page_inner.login_ignup_form_wrapper {
    height: 390px;
  }

  .inner.signup_page_inner .left_column_forms a.fb_social_button {
    padding: 24px 11px 21px 60px;
  }

  .dashboard_badges_left_column {
    width: 100%;
    float: left;
  }

  .dashboard_badges_right_column {
    width: 100%;
    float: left;
    border-top: solid 1px $grey_border;
  }

  .dashboard_badges_overview_inner_border{
    border-right: none;
    width: 100%;
  }

  .dashboard_charts_set_wrapper {
    height: auto;
    width: 90%;
    margin-right: 0;
    margin-left: 0;
  }

  .about_right_column {
    float: none;
    clear: both;
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    padding-bottom: 60px;
  }

  .about_left_column {
    float: left;
    width: 100%;
    margin-left: 0px;
    border-right: none;
  }

  .inner.about_page_inner {
    width: 96%;
  }

  .home_section_two .left_column {
    float: left;
    width: 47%;
    margin-left: 3%;
  }

  .home_section_inner_wrapper {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }

  .home_section_four .right_column {
    float: right;
    width: 47%;
    margin-left: 3%;
  }

  .oxford_uni_right_column {
    float: left;
    width: 100%;
    text-align: center;
  }

  .oxford_uni_left_column {
    float: left;
    width: 100%;
  }

  .oxford_uni_text {
    float: left;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: none;
  }

  .oxford_uni_logo {
    float: left;
    height: 47px;
    width: 100%;
    background-repeat: no-repeat;
    margin-right: 0px;
    margin-top: 45px;
    background-position: center center;
  }

  .inline_footer_wrapper.about_page_footer{
    width: 100%;
  }

  .inline_footer_wrapper.signup_page_footer {
    width: 730px;
  }

  .video_page_right_column {
    width: 100%;
    float: left;
  }

  .speciality_left_column {
    float: left;
    width: 100%;
    border-bottom: solid 1px #EFEFEF;
  }

  .video_page_authour_right_column_avatar {
    width: 90px;
    float: left;
  }

  .video_page_right_column .video_page_authour_right_column_title {
    width: 60%;
  }

  .video_page_right_column p.video_page_authour_right_column_name {
    width: 60%;
  }

  .video_page_right_column_lower_info {
    padding-bottom: 20px;
  }

  a.video_page_authour_twitter_icon, a.video_page_authour_fb_icon {
    display: none;
  }

  .lecture_questions_right_column {
    display: none;
  }

  .notes_saved_button {
    height: 68px;
    background-position: top right;
    background-position-y: -5px;
  }

  .lecture_questions_right_column.notes_right_column {
    display: block;
    width: 100%;
    border-top: none;
  }

  .speciality_count_block:last-child {
    margin-top: 0px;
  }

  .notes_back_button_clear {
    clear: both;
  }

  .note_right_column_full_note {
    float: left;
  }

  .lectures_speciality_outer_wrapper {
    min-height: 310px;
  }

  .lecture_questions_left_column, .speciality_left_column {
    width: 100%;
  }

  .home_header_browser_window {
    display: none;
  }

  .free_trial_home_sketch {
    display: none;
  }

  .home_page_header {
    min-height: 570px;
  }

  .lecture_questions_right_column .questions_info_right_column_section p.questions_info_right_column_number{
    width: auto;
  }
  .plans_columns_wrapper {
    width: 450px;
  }
  .plans_column {
    margin-bottom: 40px;
    margin-right: 0px;
    margin-top: 0px;
  }

}

@media screen and (max-width: 900px) {

  a.library_button h2 {
    margin-right: 0px;
    width: 70%;
  }

  a.library_button {
    background-position: 94% 48px;
  }

  a.library_button.active {
    background-color: $podmedics_red;
    background-position: 94% -58px;
  }

  .library_count {
    display: none;
  }

  div.inner_home_header p {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }

}

@media screen and (max-width: 800px) {

  .video_page_author_duration_header {
    padding-bottom: 10px;
    width: 100%;
    float: left;
  }
  .video_page_tags_wrapper {
    max-width: 100%;
    width: 100%;
    float: left;
    clear: both;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  a.tag {
    margin-left: 0px;
    margin-right: 10px;
  }
  .home_section_one {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
  .home_section_one_block .icon.podmedics_icon, .home_section_one_block .icon.questions_block, .home_section_one_block .icon.lecture_block, .home_section_one_block .icon.exam_block, .home_section_one_block .icon.badges_block {
    margin-top:-120px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .home_section_one_block .icon.badges_block {
    margin-top: -115px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    float: none;
  }

  .section_one_column {
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
    clear: both;
    text-align: center;
  }

  .home_section_three_header p {
    width: 90%;
  }

  .home_section_three_devices_wrapper {
    width: 100%;
  }

  .home_section_three_iphone {
    position: absolute;
    margin-left: -70px;
    margin-top: 133px;
  }
  .home_section_three_ipad {
    margin-left: 70px;
    position: absolute;
    right: -80px;
  }
  .home_section_three_devices_wrapper {
    width: 100%;
    padding-top: 165px;
    clear: both;
    overflow: hidden;
  }

  .home_section_three {
    height: 902px;
  }
  .home_section_two .browser_window {
    display: none;
  }

  .home_section_four .browser_window {
    display: none;
  }

  .home_section_two .left_column {
    float: none;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home_section_two {
    height: auto;
    padding-bottom: 80px;
  }

  .home_section_two .left_column h2 {
    margin-top: 80px;
  }

  .home_section_four .right_column h2 {
    margin-top: 80px;
  }

  .home_section_four .right_column {
    float: none;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home_section_four .left_column {
    float: none;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home_section_four {
    height: auto;
    padding-bottom: 80px;
  }

  .home_section_four .left_column h2 {
    margin-top: 80px;
  }

  .home_section_three_ipad {
    margin-left: 0px;
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    width: 70%;
    overflow: hidden;
  }

  .sub_heading_wrapper .sub_heading_button_set {
    float: left;
    clear: both;
    margin-top: 15px;
  }

  .lectures_inline_dropdown {
    margin-left: 0px;
    z-index: 10;
    -moz-border-radius-topleft: 0px 0px;
    border-top-left-radius: 0px 0px;

    -moz-border-radius-topright: 6px 6px;
    border-top-right-radius: 6px 6px;
  }

  .exam_button_tooltip_wrapper .exam_button_tooltip {
    left: -5000px;
  }
  a.lectures_inline_dropdown_category_link.all_notes_link_no_icon:hover {
    background-image: none;
    -moz-border-radius-topleft: 0px 0px;
    border-top-left-radius: 0px 0px;
    -moz-border-radius-topright: 6px 6px;
    border-top-right-radius: 6px 6px;
  }

}
@media only screen and (max-width: 767px) {
  .joyride-tip-guide {
    width: 95% !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    left: 2.5% !important;
  }
  .joyride-tip-guide-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .speciality_search_page_wrapper {
    margin-left: 35px;
    margin-right: 35px;
    width: auto;
  }



  .plans_lower_info_block_wrapper {
    width: 100%;
    float: left;
    border-bottom: solid 1px #f6f6f6;
    border-left: none;
  }
  .press_kit_lower_blocks {
    width: 100%;
    border-right: none;
  }
  .press_kit_lower_blocks:last-child {
    width: 100%;
    border-right: none;
    border-top: solid 1px #E9E9E9;
    margin-bottom: 35px;
    border-left: none;
  }
}
@media screen and (max-width: 720px) {
  .stats_chart_wrapper {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
  }

  .stats_chart {
    display: none;
  }

  .courses_left_column {
    display: none;
  }
  .courses_right_column {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    border-left: none;
  }

  .inner_home_header_action_buttons {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .red_button.home_action_button {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .sub_heading_dashboard_info {
    float: left;
    clear: both;
    text-align: left;
    padding-top: 10px;
  }

  .sub_heading_dashboard_info p {
    float: left;
    text-align: left;
  }

  .inline_footer_wrapper.signup_page_footer {
    width: 100%;
  }

  .profile_count_wrapper {
    width: 100%;
    text-align: center;
    float: left;
    margin-left: 0px;
    border-left: none;
    padding-left: 0px;
  }

  .profile_count {
    float: left;
    margin-right: 0px;
    border-right: none;
    width: 100%;
    border-bottom: solid 1px #E8E8E8;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 0px;
  }

  .profile_count:last-child {
    border-bottom: none;
  }

  .billing_options {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 30px;
  }

  .questions_answers_main_question .comment_info {
    float: left;
    clear: both;
    min-width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }

  .left_column_forms {
    width: 100%;
  }

  .inner.login_page_inner {
    width: 94%;
  }

  .inner.profile_page_inner {
    width: 94%;
  }

  .social_signup_button_wrapper p {
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
  }

  .social_option_final_line {
    text-align: left;
  }

  .social_signup_wrapper .social_signup_button_wrapper {
    padding: 0px;
    margin-left: 30px;
    margin-right: 0;
    width: 90%;
    margin-top: 20px;
    float: none;
    display: block;
    height: 160px;
    background-color: #FFF;
  }

  .inner.login_page_inner .page .left_column_forms .social_signup_wrapper .social_signup_button_wrapper .twitter_social_button {
    width: 155px;
  }

  .social_signup_wrapper {
    float: left;
    width: 100%;
    padding: 25px 0px;
  }

  .inner.login_page_inner .login_ignup_form_wrapper {
    float: none;
    height: 360px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
  }

  .left_column_forms h2 {
    margin-left: 0px;
  }

  .social_signup_wrapper h2 {
    margin-left: 30px;
  }

  .social_option_final_line {
    float: left;
    width: 85%;
    padding-left: 30px;
    padding-right: 0px;
    line-height: 18px;
  }

  .inner.login_page_inner .page .left_column_forms .social_signup_wrapper .social_signup_button_wrapper {
    padding-left: 0px;
    width: 235px;
  }

  .inner.signup_page_inner .login_ignup_form_wrapper {
    float: left;
    height: auto;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .billing_section {
    float: left;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 30px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $grey_border;
    padding-top: 30px;
  }

  .inner.signup_page_inner {
    width: 94%;
  }

  .inline_footer_wrapper.login_page_footer {
    width: 100%;
  }

  .page.dashboard_page #tabs li {
    width: 100%;
  }

  .tab_title {
    display: none;
  }
  a.press_kit_block_image_two, a.press_kit_block_image_three {
    height: 150px;
  }
  a.website_profile_button {
    margin-left: 0px;
    clear: both;
  }
}

@media screen and (max-width: 650px) {

  .reveal-modal.earn_points_modal_resize {
    width: 500px;
    margin-left: -250px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .ask_question_modal_wrapper {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .reveal-modal.ask_question_modal_resize {
    width: 500px;
    margin-left: -250px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .questions_answers_question .questions_answers_asked_date {
    padding-left: 0px;
    float: left;
    clear: both;
  }

  .questions_answers_question .inner_page_padding {
    padding-right: 15px;
    padding-left: 35px;
  }

  .lecture_list_item .lecture_icons_wrapper {
    float: left;
    margin-right: 0px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .lecture_icons_wrapper .lecture_icon .tooltip {
    display: none;
    position: absolute;
    top: -500px;
    left: -500px;
  }

  .lecture_status_inline_title {
    display: none;
  }

  .lecture_icons_wrapper .lecture_icon.watched {
    margin-left: 24px;
  }

  .profile_badge_column {
    float: left;
    width: 100%;
  }

  .dashboard_badges_inner_wrapper {
    width: auto;
    float: left;
    margin-left: 32px;
  }
  .home_page_header .home_navigation {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    float: left;
    clear: both;
  }

  .home_page_header div.home_navigation a.nav-login {
    float: left;
    clear: both;
  }

  .home_page_header div.home_navigation a.nav-signup {
    float: left;
  }

  div.home_page_header div.home_navigation a {
    float: left;
  }

  .home_navigation a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 20px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 30px;
    float: left;
  }

  div.inner_home_header {
    padding-top: 40px;
  }

  div.inner_home_header h1 {
    font-size: 22px;
  }

  .default_lecture_question.incorrect_lecture_answer p.lecture_question_status_icon {
    float: left;
    clear: both;
    text-indent: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-position: 10px -30px;
  }

  .default_lecture_question.correct_lecture_answer p.lecture_question_status_icon {
    float: left;
    clear: both;
    text-indent: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-position: 12px 0px;
  }

  .default_lecture_question.correct_lecture_answer {
    padding-bottom: 15px;
  }
  a.press_kit_block_image_two, a.press_kit_block_image_three {
    height: 120px;
  }
}

@media screen and (max-width: 600px) {

  .exam_button_tooltip_wrapper .exam_button_tooltip {
    left: -5000px;
  }
  .page.dashboard_page #tabs .dashboard_pie_charts ul {
    width: 90px;
  }

  .sub_heading_dashboard_info {
    float: left;
    text-align: left;
    display: none;
  }

  .sub_heading_dashboard_info p {
    float: left;
    text-align: left;
  }

  .inner_page_padding {
    display: block;
    padding: 0 25px;
  }

  .billing_options label {
    float: left;
    clear: none;
    width: 230px;
    padding-right: 0px;
    padding-top: 3px;
  }

  .icheckbox_minimal-red, .iradio_minimal-red {
    clear: both;
    float: left;
    margin-bottom: 20px;
  }

  #tabs ul {
    margin-left: 40px;
    width: 250px;
  }

  #tabs li a {
    margin-right: 0px;
  }

  .lecture_list_left_column {
    margin-right: 25px;
  }

  #tabs ul li a.comments_tab {
    margin-right: 10px;
  }

  .badge .badge_speciality {
    display: none;
  }

  p.badge_speciality.small_screen_count {
    display: inline;
  }

  .dashboard_badges_left_column a .badge_speciality {
    display: block;
  }

  .notification p {
    float: left;
    font-size: 14px;
  }

  .notification p span {
    float: left;
    margin-left: 0px;
    clear: both;
  }

  .notification p.close_notification {
    margin-top: 5px;
    margin-right: -35px;
  }

  .home_page_header {
    min-height: 645px;
  }

  h1 {
    font-size: 18px;
  }

  .about_left_column p {
    font-size: 13px;
  }

  a.library_button h2 {
    font-size: 20px;
  }

  .home_section_one h2 {
    font-size: 22px;
  }

  .home_section .home_section_one p {
    font-size: 13px;
  }

  .home_section_two .left_column h2 {
    font-size: 30px;
  }

  .home_section_three_header h2 {
    font-size: 17px;
  }

  .home_section_three_header p {
    font-size: 14px;
  }

  .home_section_four .right_column h2 {
    font-size: 30px;
  }

  .oxford_uni_text h3 {
    font-size: 16px;
  }

  .questions_answers_main_question .main_question_header h2 {
    font-size: 18px;
    line-height: 26px;
  }

  .questions_answers_main_question .main_question_header p {
    font-size: 12px;
  }

  .questions_answers_list .questions_answers_question h2 a {
    font-size: 16px;
    line-height: 28px;
    width: 94%;
  }

  .questions_answers_question .questions_answers_asked_date {
    font-size: 12px;
    line-height: 20px;
  }

  .no_questions_reply_wrapper {
    font-size: 14px;
    line-height: 20px;
  }

  .questions_result_sub_title {
    font-size: 11px;
  }

  .lectures_question_title {
    font-size: 18px;
    line-height: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .courses_right_column .course_title {
    font-size: 18px;
  }

  .courses_right_column div.course_info {
    font-size: 14px;
  }
  .left_column_forms h2 {
    font-size: 14px;
  }
  .notes_category_heading_wrapper h2 {
    font-size: 20px;
  }
  .notes_specialty_heading_wrapper h3 {
    font-size: 16px;
  }
  p.note_title.note_page_title a {
    font-size: 16px;
  }
  .note_right_column_full_note p {
    font-size: 14px;
  }
  .main_question_user_avatar {
    margin-top: 40px;
  }

  .dashboard_badges_inner_wrapper {
    width: 89%;
    float: left;
    margin-left: 11%;
  }

  .text_based_page p {
    font-size: 14px;
  }

  .text_based_page h2 {
    font-size: 14px;
  }

  .plans_header h1 {
    font-size: 24px;
  }

  .plans_header p {
    font-size: 13px;
  }
  .password_reset_link {
    float: right;
    margin-top: 20px;
    width: 100%;
  }
  .sign_up_link {
    padding-top: 15px;
  }
}

@media screen and (max-width: 620px) {

  div.comment_lower_action_buttons_right {
    float: left;
    clear: both;
    margin-top: 17px;
    min-width: 230px;
    margin-right: 0px;
  }

  a.podmedcis_button.white_button.ask_question_sub_heading_button {
    margin-bottom: 15px;
  }
  a.press_kit_block_image_one {
    min-height: 160px;
  }
  a.press_kit_block_image_two, a.press_kit_block_image_three {
    height: 120px;
  }
  .header_outer .header_navigation .top_nav_upgrade_link_wrapper a span {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .plans_columns_wrapper {
    width: 91%;
  }
  .plans_column {
     width: 100%;
  }
  .ask_question_modal_wrapper {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .reveal-modal.ask_question_modal_resize {
    width: 400px;
    margin-left: -200px;
  }

  .reveal-modal.earn_points_modal_resize {
    width: 400px;
    margin-left: -200px;
  }
  a.press_kit_block_image_two, a.press_kit_block_image_three {
    height: 150px;
  }

  .header_outer .header_navigation a.menu_link {
    padding-right: 0px;
    background-position: 21px 28px;
    width: 39px;
    text-indent: -390px;
    overflow: hidden;
  }
}

@media screen and (max-width: 450px) {
  .reveal-modal.trial_user_modal_resize {
    width: 310px;
    margin-left: -155px;
  }

  .reveal-modal.earn_points_modal_resize {
    width: 310px;
    margin-left: -155px;
  }


  a.press_kit_block_image_one {
    min-height: 110px;
  }
  .press_kit_block_two {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 10px;
  }

  .press_kit_block_three {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 10px;
  }
  a.tag {
    margin-bottom: 10px;
  }

  .video_page_tags_wrapper {
    padding-bottom: 10px;
  }

  .video_page_header .video_page_heading_button_set a.podmedcis_button.take_exam_button {
    margin-left: 0px;
    margin-top: 20px;
  }

  .lecture_question_blocks input {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
  }

  .lecture_questions_outer_wrapper {
    width: 100%;
  }

  .header_outer .header_navigation a.login_link {
    display: none;
  }

  .header_outer .header_navigation a.signup_link {
    display: none;
  }

  .dashboard_charts_set_wrapper {
    padding-left: 0px;
  }

  #tabs .dashboard_pie_charts ul {
    width: 50px;
  }

  .dashboard_pie_chart_wrapper {
    height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .pie_chart_outer {
    width: 190px;
    clear: both;
  }

  #tabs .dashboard_pie_charts ul li {
    margin-left: 30px;
  }

  #tabs .dashboard_pie_charts ul {
    width: 250px;
  }

  .video_header_inner div.video_column {
    min-height: 250px;
  }

  a.rounded_home_button.dark_grey {
    background-color: #585858;
    margin-top: 30px;
  }

  .video_page_heading_button_set .podmedcis_button.take_exam_button span {
    display: none;
  }

  .podmedcis_button.take_exam_button {
    margin-left: 0px;
    width: 60px;
  }

  .video_page_header .video_page_heading_button_set a.podmedcis_button.take_exam_button {
    margin-left: 12px;
    margin-top: 0px;
    padding-left: 14px;
    padding-right: 14px;
    width: 75px;
  }
  .comments_textarea {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }

}


@media screen and (max-width: 400px) {

  .ask_question_modal_textarea {
    width: 92%;
    padding-right: 4%;
    padding-left: 4%;
  }

  .reveal-modal.ask_question_modal_resize {
    width: 300px;
    margin-left: -150px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .ask_question_modal_wrapper {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  .question_comments_outer .badge .badge_title {
    -moz-border-radius-topright: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-bottomright: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }

  .question_comments_outer .badge .badge_speciality {
    display: none;
  }

  .questions_answers_main_question .question_comments_outer .comment_reply {
    background-position: 50px -5px;
    margin-left: 0px;
    padding-left: 0px;
    background-repeat: no-repeat;
    width: 100%;
  }

  #tabs_container {
    height: auto;
    position: relative;
    padding: 0 0 20px;
    box-sizing: content-box;
  }


  @media all and (-webkit-min-device-pixel-ratio: 1.5) {

  .header_outer .header_navigation a.menu_link {
    background-position: 21px 28px;
  }

}


  .user_dropdown {
    height: auto;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    left: 0px;
  }

  .user_dropdown .dropdown_inner_wrapper {
    padding: 5%;
    width: 90%;
    float: left;
  }

  .user_dropdown_wrapper .user_dropdown a.red_block_button {
    color: #FFF;
    background-color: #C02A3A;
    text-align: center;
    clear: both;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    line-height: 52px;
    height: 50px;
    padding-bottom: 0px;
    border-radius: 6px;
    text-transform: capitalize;
  }


  .reveal-modal {
    width: 310px;
    margin-left: -155px;
  }

  .video_complete_modal {
    width: 270px;
  }

  .footer .footer_right {
    float: left;
    clear: both;
  }

  .cbp-spmenu-push {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .default_body {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .cbp-spmenu-push-toleft {
    left: -260px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .cbp-spmenu-vertical {
    width: 260px;
  }

  .cbp-spmenu-vertical a {
    width: 203px;
  }

  .inner_menu_wrapper .nav-lectures {
    background-position: 215px -89px;
  }

  .inner_menu_wrapper .nav-home {
    background-position: 215px -28px;
  }

  .inner_menu_wrapper .nav-courses {
    background-position: 215px -154px;
  }

  .inner_menu_wrapper .nav-profile {
    background-position: 215px -218px;
  }

  .inner_menu_wrapper .nav-support {
    background-position: 215px -279px;
  }

  .inner_menu_wrapper .nav-login {
    background-position: 215px -740px;
  }
  .inner_menu_wrapper .nav-faqs {
    background-position: 214px -670px;
  }

  .inner_menu_wrapper .nav-about {
    background-position: 216px -606px;
  }

  .inner_menu_wrapper .nav-signup {
    background-position: 217px -447px;
  }
  .inner_menu_wrapper .nav-logout {
    background-position: 215px -343px;
  }

  .main_nav_wrapper.speciality a {
    background-position: 220px -448px;
  }

  .main_nav_inner_lectures_title {
    width: 170px;
  }

  .right_column_search_field .navigation_search_field {
    width: 175px;
  }

  .footer {
    height: 12px;
  }
  .footer_left, .footer_right {
    display: none;
  }

  .lectures_inline_dropdown {
    width: 301px;
  }

  .lectures_inline_dropdown .right_column_search_field .navigation_search_field {
    width: 217px;
  }

  a.lectures_inline_dropdown_category_link {
    width: 276px;
    background-position: 265px -449px;
  }

  .lectures_inline_dropdown_specialty_medicine a, .lectures_inline_dropdown_specialty_surgery a, .lectures_inline_dropdown_specialty_clinical_specialties a, .lectures_inline_dropdown_specialty_clinical_sciences a {
    width: 276px;
  }

  .lectures_inline_dropdown .lectures_inline_dropdown_specialty_medicine {
    overflow-x: visible;
    float: left;
    max-height: inherit;
  }

}

@media screen and (max-width: 390px) {

  .stats_chart_wrapper {
    display: none;
  }

  div.inner_home_header {
    padding-top: 50px;
  }

  .library_tab p {
    margin-left: 0px;
  }

  .home_page_header a.podmedics_home_icon {
    margin-top: 25px;
    margin-left: 25px;
  }

  .home_page_header .home_navigation {
    width: auto;
    margin-right: 0px;
    margin-left: 7px;
    margin-top: 40px;
    float: left;
    clear: both;
  }

  .library_tab p:first-child {
    text-indent: 0px;
  }

  div.inner_home_header p {
    font-size: 13px;
    line-height: 24px;
  }

  a.rounded_home_button {
    font-size: 13px;
  }

  a.rounded_home_button.dark_grey {
    background-color: #585858;
    margin-top: 25px;
  }

  .library_count {
    float: left;
    margin-right: 65px;
    margin-left: 30px;
    margin-top: 5px;
  }

  .red_button.home_action_button {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .home_section {
    padding-bottom: 20px;
  }

  a.library_button p.inline_arrow_icon {
    margin-right: 20px;
  }

  a.library_button h2 {
    width: 60%;
  }

  .notification p.close_notification {
    margin-top: -15px;
    margin-right: -12px;
  }

  .no_questions_reply_wrapper {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .notes_column_text_field {
    padding-left: 5%;
    width: 90%;
  }

  .notes_column_text_area {
    width: 90%;
    padding-left: 5%;
  }

  .video_page_authour_right_column_user_info_inner_wrapper {
    width: 50%;
  }

  .inner.profile_page_inner {
    padding-top: 20px;
  }

  .profile_avatar {
    margin-top: 50px;
  }

  .profile_header {
    height: auto;
    padding-bottom: 10px;
  }

  .page.dashboard_page #tabs .dashboard_pie_charts ul {
    height: 130px;
    padding-top: 10px;
    margin-left: 0px;
  }

  .pie_chart_inner_title {
    margin-left: 40px;
  }

  .video_page_notes_column_title {
    width: 85%;
  }

  .video_page_notes_column form {
    width: 85%;
  }

  .lectures_question_title {
    font-size: 16px;
    line-height: 24px;
  }

  a.default_lecture_question, .lecture_question_blocks input {
    font-size: 16px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .header_outer .header_navigation a.user_dropdown_link {
    display: none;
  }

  .header_outer a.podmedics_header_icon {
    display: none;
  }

  a.default_lecture_question, .lecture_question_blocks input, .default_lecture_question, .default_lecture_question.correct_lecture_answer, .default_lecture_question.incorrect_lecture_answer {
    padding-top: 28px;
  }

  a.red_button.medium.next_question_button {
    padding-right: 21px;
    background-image: none;
  }

  .podmedics_textfield{
    width: 90%;
  }

  .plans_columns_wrapper {
    width: 310px;
  }

  .plans_column {
    width: 100%;
  }

  a.podmedcis_button.white_button.ask_question_sub_heading_button {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .load_more_questions_answers_wrapper a.podmedcis_button.grey {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    float: none;
    margin-right: 20px;
    margin-left: 20px;
  }
  .load_more_questions_answers_wrapper {
    padding-bottom: 0px;
  }

  #tabs_single_page ul.comment_count_tab_ul {
    margin-left: 0px;
  }
  a.podmedcis_button.green.accept_answer_button {
    margin-left: 0px;
    margin-top: -3px;
  }
  .welcome_pickup_icon {
    margin-top: 100px;
  }
  .inner_pickup_page a.red_button {
    margin-bottom: 80px;
  }
}