$podmedics_red: #fa3f52;

$podmedics_grey: #F4F4F4;

$grey_border: #E5E5E5;

$standard_border_radius: 6px;


/* Retina */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

  .header_outer a.podmedics_header_icon {
    background-image: image-url('podmedics_header_icon@2x.png');
    background-size: 65%;
  }

  .header_outer .header_navigation a.menu_link {
    background-image: image-url('nav_icons@2x.png');
    background-size: 28px 800px;
    background-position: 90px 28px;
  }

  .footer_right a.twitter_footer_icon, .founder_social_icons a.twitter_footer_icon {
    background-image: image-url('footer_social_icons@2x.png');
    background-size: 68px;
  }

  .footer_right a.fb_footer_icon, .founder_social_icons a.fb_footer_icon {
    background-image: image-url('footer_social_icons@2x.png');
    background-size: 68px;
  }

  .home_navigation a.nav-signup {
    background-position: 81px -19px;
  }

  #tabs ul li .icon {
    background-size: 26px 130px;
    background-image: url(/assets/tab_icons@2x.png);
  }

}


/* Responsive */

@media screen and (max-width: 1344px) {



  .video_header_inner div.video_column {
    width: 100%;
    height: auto;
    float: left;
  }
  .video_header_inner div.video_page_notes_column {
    width: 100%;
    height: 550px;
    float: left;
    background-color: #F8F8F8;

  }

  .video_header_inner div.video_page_notes_column {
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }
  .video_header_inner {
    height: auto;
  }

  .video_header_outer {
    height: auto;
  }

  .video_page_notes_column_title {
    width: 93%;
  }

  .video_page_notes_column form {
    width: 93%;
  }
  .notes_column_text_field {
    padding-left: 2%;
    width: 93%;
  }
  .notes_column_text_area {
    width: 93%;
    padding-left: 2%;
  }
  .notes_private_textarea_notice {
    width: 99%;
  }

  .video_column iframe {
  }



}

@media screen and (max-width: 1195px) {

  .dashboard_pie_chart_wrapper {
    float: left;
    width: 370px;
  }

}


@media screen and (max-width: 1020px) {

    .video_page_heading_button_set {
      float: left;
      width: auto;
      margin-bottom: 20px;
      margin-top: 5px;
    }

    .video_page_heading_wrapper {
      width: 100%;
    }
    .questions_answers_main_question .comment_info {
    float: left;
    clear: both;
    min-width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0px; }

  .questions_answers_main_question .main_question_header h2 {
    font-size: 24px;
    line-height: 36px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px; }

  .right_column_forms {
    display: none; }

  .inner.signup_page_inner {
    width: 690px; }

  .inner.signup_page_inner .left_column_forms {
    float: left;
    height: auto;
    width: 100%; }

  .inner.signup_page_inner.login_ignup_form_wrapper {
    height: 390px; }

  .inner.signup_page_inner .left_column_forms a.fb_social_button {
    padding: 24px 11px 21px 60px; }

  .dashboard_badges_left_column {
    width: 100%;
    float: left;
  }
  .dashboard_badges_right_column {
    width: 100%;
    float: left;
    border-top: solid 1px $grey_border;
  }
  .dashboard_badges_overview_inner_border{
    border-right: none;
    width: 100%;

  }



  .dashboard_charts_set_wrapper {
    height: auto;
    width: 90%;
    margin-right: 0;
    margin-left: 0;
  }

  .about_right_column {
    float: none;
    clear: both;
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
    padding-bottom: 60px;
  }

  .about_left_column {
    float: left;
    width: 100%;
    margin-left: 0px;
    border-right: none;

  }
  .inner.about_page_inner {
    width: 96%;
  }
  .home_section_two .left_column {
    float: left;
    width: 47%;
    margin-left: 3%;
  }
  .home_section_inner_wrapper {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }

  .home_section_four .right_column {
    float: right;
    width: 47%;
    margin-left: 3%;
  }

  .oxford_uni_right_column {
    float: left;
    width: 100%;
    text-align: center;
  }
  .oxford_uni_left_column {
    float: left;
    width: 100%;
  }
  .oxford_uni_text {
    float: left;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: none;
  }
  .oxford_uni_logo {
    float: left;
    height: 47px;
    width: 100%;
    background-repeat: no-repeat;
    margin-right: 0px;
    margin-top: 45px;
    background-position: center center;
  }
  .inline_footer_wrapper.about_page_footer{
    width: 100%;
  }
  .inline_footer_wrapper.signup_page_footer {
    width: 730px;
  }
  .video_page_right_column {
    width: 100%;
    float: left;
  }
  .speciality_left_column {
    float: left;
    width: 100%;
    border-bottom: solid 1px $grey_border
  }
  .video_page_authour_right_column_avatar {
    width: 90px;
    float: left;
  }
  .video_page_right_column .video_page_authour_right_column_title {
    width: 60%;
  }
  .video_page_right_column p.video_page_authour_right_column_name {
    width: 60%;
  }

  .video_page_right_column_lower_info {

    padding-bottom: 20px;

  }


  a.video_page_authour_twitter_icon, a.video_page_authour_fb_icon {
    display: none;
  }

  .lecture_questions_right_column {
    display: none;
  }
  .notes_saved_button {
    height: 68px;
    background-position: bottom right;
  }
  .lecture_questions_right_column.notes_right_column {
    display: block;
    width: 100%;
    border-top: none;
  }
  .speciality_count_block:last-child {
    margin-top: 0px;
  }
  .notes_back_button_clear {
    clear: both;
  }
  .note_right_column_full_note {
    float: left;
  }
  .lectures_speciality_outer_wrapper {
    min-height: 310px;
  }

  .lecture_questions_left_column, .speciality_left_column {
    width: 100%;
  }
  .home_header_browser_window {
    display: none;
  }
  .free_trial_home_sketch {
    display: none;
  }
  .home_page_header {
    min-height: 570px;
  }
  .lecture_questions_right_column .questions_info_right_column_section p.questions_info_right_column_number{
    width: auto;
  }
}

@media screen and (max-width: 900px) {

  a.library_button h2 {
    margin-right: 0px;
    width: 70%;
  }

  a.library_button {
    background-position: 94% 48px;
  }

  a.library_button.active {
    background-color: $podmedics_red;
    background-position: 94% -58px;
  }
  .library_count {
    display: none;
  }
  div.inner_home_header p {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
}






@media screen and (max-width: 800px) {

.home_section_one {
  width: 96%;
  margin-right: auto;
  margin-left: auto;

}
  .home_section_one_block .icon.podmedics_icon, .home_section_one_block .icon.questions_block, .home_section_one_block .icon.lecture_block, .home_section_one_block .icon.exam_block, .home_section_one_block .icon.badges_block {
    margin-top:-120px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .home_section_one_block .icon.badges_block {
    margin-top: -115px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    float: none;
  }

  .section_one_column {
    float: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
    clear: both;
    text-align: center;
  }

  .home_section_three_header p {
    width: 90%;
  }

  .home_section_three_devices_wrapper {
    width: 100%;
  }

  .home_section_three_iphone {
    position: absolute;
    margin-left: -70px;
    margin-top: 133px;
  }
  .home_section_three_ipad {
    margin-left: 70px;
    position: absolute;
    right: -80px;
  }
  .home_section_three_devices_wrapper {
    width: 100%;
    padding-top: 165px;
    clear: both;
    overflow: hidden;
  }

  .home_section_three {
    height: 902px;
  }
  .home_section_two .browser_window {
    display: none;
  }

  .home_section_four .browser_window {
    display: none;
  }

  .home_section_two .left_column {
    float: none;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home_section_two {
    height: auto;
    padding-bottom: 80px;
  }
  .home_section_two .left_column h2 {
    margin-top: 80px;
  }

  .home_section_four .right_column h2 {
    margin-top: 80px;
  }

  .home_section_four .right_column {
    float: none;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }



  .home_section_four .left_column {
    float: none;
    clear: both;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .home_section_four {
    height: auto;
    padding-bottom: 80px;
  }
  .home_section_four .left_column h2 {
    margin-top: 80px;
  }

  .home_section_three_ipad {
    margin-left: 0px;
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    width: 70%;
    overflow: hidden;
  }


  .plans_columns_wrapper {
    width: 730px;
  }
  .plans_column {
    margin-right: 30px;
  }

}

@media screen and (max-width: 760px) {

  .plans_column {
    margin-bottom: 40px;
    margin-right: 20px;
    margin-top: 0px;
  }
  .plans_columns_wrapper {
    width: 350px;
  }
  .plans_lower_info_block_wrapper {
    width: 100%;
    float: left;
    border-bottom: solid 1px #f6f6f6;
    border-right: none;
  }

}
@media screen and (max-width: 720px) {

  .stats_chart_wrapper {

    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
  }
  .stats_chart {
    display: none;
  }

  .courses_left_column {
   display: none;
  }
  .courses_right_column {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    border-left: none;
  }

  .inner_home_header_action_buttons {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .red_button.home_action_button {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .sub_heading_dashboard_info {
    float: left;
    clear: both;
    text-align: left;
    padding-top: 10px;
  }
  .sub_heading_dashboard_info p {
    float: left;
    text-align: left;
  }

  .inline_footer_wrapper.signup_page_footer {
    width: 100%;
  }
  .profile_count_wrapper {
    width: 100%;
    text-align: center;
    float: left;
    margin-left: 0px;
    border-left: none;
    padding-left: 0px; }

  .profile_count {
    float: left;
    margin-right: 0px;
    border-right: none;
    width: 100%;
    border-bottom: solid 1px #E8E8E8;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 0px; }

  .profile_count:last-child {
    border-bottom: none; }

  .billing_options {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 30px; }

  .questions_answers_main_question .comment_info {
    float: left;
    clear: both;
    min-width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0px; }

  .left_column_forms {
    width: 100%; }

  .inner.login_page_inner {
    width: 94%; }

  .inner.profile_page_inner {
    width: 94%;
  }

  .social_signup_button_wrapper p {
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
  }

  .social_option_final_line {

    text-align: left;
  }


  .social_signup_wrapper .social_signup_button_wrapper {
    padding: 0px;
    margin-left: 30px;
    margin-right: 0;
    width: 90%;
    margin-top: 20px;
    float: none;
    display: block;
    height: 160px;
    background-color: #FFF;
  }
  .inner.login_page_inner .page .left_column_forms .social_signup_wrapper .social_signup_button_wrapper .twitter_social_button {
    width: 155px;
  }

  .social_signup_wrapper {
    float: left;
    width: 100%;
    padding: 25px 0px;
  }

  .inner.login_page_inner .login_ignup_form_wrapper {
    float: none;
    height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
  }

  .left_column_forms h2 {
    margin-left: 0px;
  }

  .social_signup_wrapper h2 {
    margin-left: 30px;
  }

  .social_option_final_line {
    float: left;
    width: 85%;
    padding-left: 30px;
    padding-right: 0px;
    line-height: 18px;
  }
  .inner.login_page_inner .page .left_column_forms .social_signup_wrapper .social_signup_button_wrapper {
    padding-left: 0px;
    width: 235px;
  }

  .inner.signup_page_inner .login_ignup_form_wrapper {
    float: left;
    height: auto;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .billing_section {
    float: left;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 30px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $grey_border;
    padding-top: 30px;
  }

  .inner.signup_page_inner {
    width: 94%;
  }


  .inline_footer_wrapper.login_page_footer {
    width: 100%;
  }




  .page.dashboard_page #tabs li {
    width: 100%;
  }
  .tab_title {
    display: none;
  }

}


@media screen and (max-width: 650px) {
  .ask_question_modal_wrapper {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .reveal-modal.ask_question_modal_resize {
    width: 500px;
    margin-left: -250px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .questions_answers_question .questions_answers_asked_date {
    padding-left: 0px;
    float: left;
    clear: both;
  }

  .questions_answers_question .inner_page_padding {
    padding-right: 15px;
    padding-left: 35px;
  }

  .lecture_list_item .lecture_icons_wrapper {
    float: left;
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    margin-top: 15px;
  }

  .lecture_icons_wrapper .lecture_icon.watched .tooltip {
    display: none;
    position: absolute;
    top: -500px;
    left: -500px;

  }
  .lecture_icons_wrapper .lecture_icon.resit .tooltip {
    display: none;
    position: absolute;
    top: -500px;
    left: -500px;

  }

  .lecture_icons_wrapper .lecture_icon.top_marks .tooltip {
    display: none;
    position: absolute;
    top: -500px;
    left: -500px;
  }




  .lecture_status_inline_title {
    display: none;
  }
  .lecture_icons_wrapper .lecture_icon.watched {
    margin-left: 24px;
  }
  .profile_badge_column {
    float: left;
    width: 100%;
  }

  .dashboard_badges_inner_wrapper {
    width: 89%;
    float: left;
    margin-left: 11%;
  }
  .home_page_header .home_navigation {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    float: left;
    clear: both;
  }
  .home_page_header div.home_navigation a.nav-login {
    float: left;
    clear: both;
  }

  .home_page_header div.home_navigation a.nav-signup {
    float: left;
  }
  div.home_page_header div.home_navigation a {
    float: left;
  }

  .home_navigation a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 20px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 30px;
    float: left;
  }


  div.inner_home_header {
    padding-top: 40px;
  }
  div.inner_home_header h1 {

    font-size: 22px;
  }
  .default_lecture_question.incorrect_lecture_answer p.lecture_question_status_icon {
    float: left;
    clear: both;
    text-indent: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-position: 10px -30px;
  }


  .default_lecture_question.correct_lecture_answer p.lecture_question_status_icon {
    float: left;
    clear: both;
    text-indent: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-position: 12px 0px;
  }
  .default_lecture_question.correct_lecture_answer {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {

  .page.dashboard_page #tabs .dashboard_pie_charts ul {
    width: 90px;
  }

  .sub_heading_wrapper .sub_heading_button_set {
    float: left;
    clear: both;
    margin-top: 15px;
  }
  .sub_heading_dashboard_info {
    float: left;
    text-align: left;
    display: none;

  }


  .sub_heading_dashboard_info p {
    float: left;
    text-align: left;

  }
  .inner_page_padding {
    display: block;
    padding: 0 25px; }

  .billing_options label {
    float: left;
    clear: none;
    width: 230px;
    padding-right: 0px;
    padding-top: 3px; }

  .icheckbox_minimal-red, .iradio_minimal-red {
    clear: both;
    float: left;
    margin-bottom: 20px; }

  #tabs ul {
    margin-left: 40px;
    width: 250px; }

  #tabs li a {
    margin-right: 0px; }

  .lecture_list_left_column {
    margin-right: 25px; }


  #tabs ul li a.comments_tab {
    margin-right: 10px;
  }

  a.badge .badge_speciality {
    display: none;
  }
  a p.badge_speciality.small_screen_count {
    display: inline;
  }
  .dashboard_badges_left_column a .badge_speciality {
    display: block;
  }

  .notification p {
    float: left;
    font-size: 14px;
  }

  .notification p span {
    float: left;
    margin-left: 0px;
    clear: both;
  }

  .notification p.close_notification {
    margin-top: 5px;
    margin-right: -35px;
  }
  .home_page_header {
    min-height: 645px;
  }

  h1 {
    font-size: 18px;
  }

  .about_left_column p {
      font-size: 13px;
  }
  a.library_button h2 {
    font-size: 20px;
  }

  .home_section_one h2 {
    font-size: 22px;
  }
  .home_section .home_section_one p {
    font-size: 13px;
  }
  .home_section_two .left_column h2 {
    font-size: 30px;
  }
  .home_section_three_header h2 {
    font-size: 17px;
  }
  .home_section_three_header p {
    font-size: 14px;
  }
  .home_section_four .right_column h2 {
    font-size: 30px;
  }
  .oxford_uni_text h3 {
    font-size: 16px;
  }
  .questions_answers_main_question .main_question_header h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .questions_answers_main_question .main_question_header p {
    font-size: 12px;
  }

  .questions_answers_list .questions_answers_question h2 a {
    font-size: 16px;
    line-height: 28px;
    width: 94%;
  }
  .questions_answers_question .questions_answers_asked_date {
    font-size: 12px;
    line-height: 20px;
  }
  .no_questions_reply_wrapper {
    font-size: 14px;
    line-height: 20px;
  }
  .questions_result_sub_title {
    font-size: 11px;
  }
  .lectures_question_title {
    font-size: 18px;
    line-height: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .courses_right_column .course_title {
    font-size: 18px;
  }
  .courses_right_column div.course_info {
    font-size: 14px;
  }
  .main_question_user_avatar {
    margin-top: 40px;
  }
  .dashboard_badges_inner_wrapper {
    width: 89%;
    float: left;
    margin-left: 11%;
  }
  .text_based_page p {
    font-size: 14px;
  }
  .text_based_page h2 {
    font-size: 14px;
  }
  .plans_header h1 {
    font-size: 24px;
  }
  .plans_header p {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {


.ask_question_modal_wrapper {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
.reveal-modal.ask_question_modal_resize {
  width: 400px;
  margin-left: -200px;


}
}

@media screen and (max-width: 450px) {

  .video_page_header .video_page_heading_button_set a.podmedcis_button.take_exam_button {
    margin-left: 0px;
    margin-top: 20px;
  }
  .lecture_question_blocks input {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
  }
  .lecture_questions_outer_wrapper {
    width: 100%;
  }
  .header_outer .header_navigation a.login_link {
    display: none; }

  .header_outer .header_navigation a.signup_link {
    display: none; }

  .dashboard_charts_set_wrapper {
    padding-left: 0px; }

  #tabs .dashboard_pie_charts ul {
    width: 50px; }

  .dashboard_pie_chart_wrapper {
    height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .pie_chart_outer {
     width: 190px;
     clear: both;
   }

  #tabs .dashboard_pie_charts ul li {
    margin-left: 30px; }

  #tabs .dashboard_pie_charts ul {
    width: 250px; }
  .video_header_inner div.video_column {
    min-height: 250px;
  }
  a.rounded_home_button.dark_grey {
    background-color: #585858;
    margin-top: 30px;
  }

  .video_page_heading_button_set .podmedcis_button.take_exam_button span {
    display: none;
  }
  .podmedcis_button.take_exam_button {
    margin-left: 0px;
    width: 60px;
  }
  .video_page_header .video_page_heading_button_set a.podmedcis_button.take_exam_button {
    margin-left: 12px;
    margin-top: 0px;
    padding-left: 14px;
    padding-right: 14px;
    width: 75px;
  }
  .comments_textarea {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }
}




@media screen and (max-width: 400px) {
  .ask_question_modal_textarea {
    width: 92%;
    padding-right: 4%;
    padding-left: 4%;

  }
  a.podmedcis_button.white_button.ask_question_sub_heading_button {
    margin-bottom: 15px;
  }
  .reveal-modal.ask_question_modal_resize {
    width: 300px;
    margin-left: -150px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .ask_question_modal_wrapper {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  .question_comments_outer .badge .badge_title {
    -moz-border-radius-topright: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-bottomright: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }

  .question_comments_outer .badge .badge_speciality {
    display: none;
  }

  .questions_answers_main_question .question_comments_outer .comment_reply {
    background-position: 50px -5px;
    margin-left: 0px;
    padding-left: 0px;
    background-repeat: no-repeat;
  }

  #tabs_container {
    height: auto;
    position: relative;
    padding: 0 0 20px;
    box-sizing: content-box;
  }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .header_outer .header_navigation a.menu_link {
      background-position: 21px 28px;

    }
  }
  .header_outer .header_navigation a.menu_link {
    padding-right: 0px;
    background-position: 21px 28px;
    width: 39px;
    text-indent: -390px;
    overflow: hidden;
  }
  .user_dropdown {
    height: auto;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    left: 0px;
  }

  .reveal-modal {
    width: 310px;
    margin-left: -155px;
  }

  .video_complete_modal {
    width: 270px;
  }

  .footer .footer_right {
    float: left;
    clear: both;
  }

  .cbp-spmenu-push {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease; }

  .default_body {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .cbp-spmenu-push-toleft {
    left: -260px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }

  .cbp-spmenu-vertical {
    width: 260px;
  }

  .cbp-spmenu-vertical a {
    width: 203px;
  }

  .inner_menu_wrapper .nav-lectures {
    background-position: 215px -89px;
  }

  .inner_menu_wrapper .nav-home {
    background-position: 215px -28px;
  }

  .inner_menu_wrapper .nav-courses {
    background-position: 215px -154px;
  }

  .inner_menu_wrapper .nav-profile {
    background-position: 215px -218px;
  }

  .inner_menu_wrapper .nav-support {
    background-position: 215px -279px;
  }

  .inner_menu_wrapper .nav-login {
    background-position: 215px -740px;
  }
  .inner_menu_wrapper .nav-faqs {
    background-position: 214px -670px;
  }

  .inner_menu_wrapper .nav-about {
    background-position: 216px -606px;
  }

  .inner_menu_wrapper .nav-signup {
    background-position: 217px -447px;
  }
  .inner_menu_wrapper .nav-logout {
    background-position: 215px -343px; }

  .main_nav_wrapper.speciality a {
    background-position: 220px -448px; }


  .main_nav_inner_lectures_title {
    width: 170px;
  }

  .right_column_search_field .navigation_search_field {
    width: 175px;
  }

  .footer {
    height: 12px;
  }
  .footer_left, .footer_right {
  display: none;
  }



}



@media screen and (max-width: 390px) {

  .stats_chart_wrapper {
    display: none;
  }
  div.inner_home_header {
    padding-top: 50px;
  }
  .library_tab p {
   margin-left: 0px;
  }
  .home_page_header a.podmedics_home_icon {
    margin-top: 25px;
    margin-left: 25px;
  }
  .home_page_header .home_navigation {
    width: auto;
    margin-right: 0px;
    margin-left: 7px;
    margin-top: 40px;
    float: left;
    clear: both;
  }
  .library_tab p:first-child {
    text-indent: 0px;
  }
  div.inner_home_header p {
    font-size: 13px;
    line-height: 24px;
  }

  a.rounded_home_button {
    font-size: 13px;
  }
  a.rounded_home_button.dark_grey {
    background-color: #585858;
    margin-top: 25px;
  }

  .library_count {
    float: left;
    margin-right: 65px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .red_button.home_action_button {
    float: none;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .home_section {
    padding-bottom: 20px;
  }

  a.library_button p.inline_arrow_icon {
    margin-right: 20px;
  }
  a.library_button h2 {
    width: 60%;
  }
  .notification p.close_notification {
    margin-top: -15px;
    margin-right: -12px;
  }
  .no_questions_reply_wrapper {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .notes_column_text_field {
    padding-left: 5%;
    width: 90%;
  }

  .notes_column_text_area {
    width: 90%;
    padding-left: 5%;
  }
  .video_page_authour_right_column_user_info_inner_wrapper {
    width: 50%;
  }
  .inner.profile_page_inner {
    padding-top: 20px;
  }
  .profile_avatar {
    margin-top: 50px;
  }
  .profile_header {
    height: auto;
    padding-bottom: 10px;
  }
  .page.dashboard_page #tabs .dashboard_pie_charts ul {
    height: 130px;
    padding-top: 10px;
    margin-left: 0px;
  }
  .pie_chart_inner_title {
    margin-left: 40px;
  }
  .video_page_notes_column_title {
    width: 85%;
  }
  .video_page_notes_column form {
    width: 85%;
  }
  .lectures_question_title {
    font-size: 16px;
    line-height: 24px;
  }
  a.default_lecture_question, .lecture_question_blocks input {
    font-size: 16px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .header_outer .header_navigation a.user_dropdown_link {
    display: none;
  }
  .header_outer a.podmedics_header_icon {
    display: none;
  }
  a.default_lecture_question, .lecture_question_blocks input, .default_lecture_question, .default_lecture_question.correct_lecture_answer, .default_lecture_question.incorrect_lecture_answer {
    padding-top: 28px;
  }
  a.red_button.medium.next_question_button {
    padding-right: 21px;
    background-image: none;
  }

  .podmedics_textfield{
    width: 90%;
    }
  .plans_columns_wrapper {
    width: 310px;
  }
  .plans_column {
    width: 100%;
  }
}













