<div class="row header">
  <h1>Admin Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <p>View the website as normal user (with enhanced UI controls)</p>
    <%= link_to 'Go to website', dashboard_path(current_user), class: 'btn-flat inverse'  %>
  </div>
</div>





