<div class="row header">
  <h1>Admin Dashboard</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <iframe src="https://rpm.newrelic.com/public/charts/fBiER0mmWh" width="800" height="300" scrolling="no" frameborder="no"></iframe>
  </div>

  <div class="col-md-6">
    <iframe src="https://rpm.newrelic.com/public/charts/f1EQqGIfRxc" width="800" height="300" scrolling="no" frameborder="no"></iframe>
  </div>
  
</div>

<div class="row">
  <div class="col-md-6">
    <iframe src="https://rpm.newrelic.com/public/charts/7WiXV3URmIC" width="800" height="300" scrolling="no" frameborder="no"></iframe>
  </div>
  <div class="col-md-6">
    <iframe src="https://rpm.newrelic.com/public/charts/915wFFARP58" width="800" height="300" scrolling="no" frameborder="no"></iframe>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <iframe src="https://rpm.newrelic.com/public/charts/h3VgpYos9M9" width="800" height="300" scrolling="no" frameborder="no"></iframe>
  </div>
</div>






