<div class="row header">
  <h3>Users</h3>
  <div class="col-md-10 pull-right">
    <%= link_to "New User", new_admin_user_path, class: 'btn-flat success pull-right' %>
  </div>
</div>

<%= will_paginate @users %>

<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>#ID</th>
            <th>Created at</th>
            <th>Name</th>
            <th>Email</th>
            <th>Selected Plan</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= will_paginate @users %>
