<div class="inner about_page_inner">
  <div class="page">
    <div class="inner_pickup_page">
      <div class="welcome_pickup_icon"></div>
      <h1>Payment successful. Welcome to Podmedics</h1>
      <p>You now have unlimited access to the Podmedics library.</p>
      <%= link_to "Click here to get started", dashboard_path, :class => "red_button" %>
    </div>
  </div>
</div>

<%= content_for :footer do %>
  <div class="inline_footer_wrapper about_page_footer">
    <%= render 'footer' %>
  </div>
<% end %>

