<div class="footer">
  <div class="footer_left">
    <span class="copyright">&copy; 2007-2014 Podmedics Ltd. All rights reserved</span>
    <p>
      <%= link_to 'Contact', contact_path %>
      <%= link_to 'Terms and Conditions', terms_path %>
      <%= link_to 'Quiz App Privacy Policy', quiz_privacy_path %>
      <%= link_to 'Press', press_path %>
    </p>
    <p>
      <a href="http://podmedics.org" class="podmedics_link" target="_blank">Built by the team at Podmedics</a>
    </p>
  </div>
  <div class="footer_right">
    <a href="http://twitter.com/podmedics" class="twitter_footer_icon" target="_blank"></a>
    <a href="http://en-gb.facebook.com/pages/Podmedics/143536736080" class="fb_footer_icon" target="_blank"></a>
    <a style="float: right; margin-left: 10px;" href="https://mixpanel.com/f/partner">
      <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
    </a>
  </div>
</div>
