<div class="page-header">
  <h1>Courses</h1>
</div>

<%= link_to "New Course", new_admin_course_path %>

<table border="0" class='table'>
  <thead>
    <tr>
      <td>#ID</td>
      <td>Title</td>
      <td>Date</td>
      <td>Price</td>
      <td>Event Link</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <%= render @courses %>
  </tbody>
</table>

