<ul class="nav nav-sidebar">
  <li><%= link_to "Categories", admin_categories_path %></li>
  <li><%= link_to "Specialties", admin_specialties_path %></li>
  <li><%= link_to "Videos", admin_videos_path %></li>
</ul>

<ul class="nav nav-sidebar">
  <li><%= link_to "Users", admin_users_path %></li>
  <li></li>
  <li></li>
</ul>
