<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <% if current_user %>
    <%= render 'layouts/user_navigation_links' %>
  <% else  %>
    <%= render 'layouts/navigation_links' %>
  <% end %>
</ul>
