<!DOCTYPE html>
<html lang='en'>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <style>

      .cover_page_title {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        border: 0;
        padding: 0;
        color: #333;
        margin-top: 350px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
      }
      .cover_page_subtitle {
        color: #888888;
        font-size: 15px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;

      }
      .cover_page_podmedics_url {
        color: #C4C4C4;
        font-size: 14px;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
      }

      .cover_page_podmedics_icon {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 39px;
        height: 39px;
        background-image: url(http://podmedics-assets.s3.amazonaws.com/podmedics_icon_x74.png);
      }


      .table_of_contents_title {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        border: 0;
        padding: 0;
        color: #333;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        font-weight: 700;
      }

      .break { page-break-before: always; }


      .toc_category {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      .toc_specialty {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      .toc_note {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #636363;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .toc_note a {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #636363;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-decoration: none;
      }
      .toc_note a:hover {
        color: #222;
      }
      .toc_indent {
        margin-left: 10px;
      }


      .notes h2 {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .notes h3 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .notes h4 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 0px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .inner_note_content {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #7C7C7C;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
      }
      .inner_note_content strong {
        font-weight: 700;
      }
      .inner_note_content a {
        color: #333;
        font-weight: 700;
      }
      .inner_note_content ul, .inner_note_content ol {
        color: #7C7C7C;
        margin-left: 20px;
        margin-top: 5px;
      }
      .inner_note_content ul li, .inner_note_content ol li {
        color: #7C7C7C;
        margin-left: 20px;
        margin-bottom: 5px;
      }


    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
