<!DOCTYPE html>
<html lang='en'>
  <head>
    <style>
      .break { page-break-before: always; }

      .toc_title {
        font-size: 22px;
        margin-bottom: 5px;
      }

      .toc_category {
        font-size: 22px;
        margin-bottom: 5px;
      }

      .toc_specialty {
        font-size: 20px;
        margin-bottom: 5px;
      }

      .toc_note {
        font-size: 18px;
      }

      .toc_indent {
        margin-left: 10px;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
